{% extends "base.tmpl" %}
{% block title %} Mozilla Labs : 404 error {% endblock %}
{# set enableExample false #}
{# set absoluteLinks true #}
{% block body %}

<div class="container">
  <section class="body-content" id="main-section" data-speed="4" data-type="background">
    <section class="row" id="tour">
      <div class="col-xs-12">
        <div id="error">
            <p class="text-center"><img src="/images/404-image.png" class="img-responsive" style="margin: 0 auto;"></p>
            <h1 class="text-center">Oops, we can't find the page you're looking for!</h1>
            <p class="text-center">404 error</p>
        </div>
      </div>
    </section>
{% endblock %}
