<% layout('../../layout.ejs') -%>
<% block("enableExample", true) %>
<% block("title", "Mozilla Labs : 500 error") %>
<div class="containerbg">
  <div class="container examples">
    
      <div id="error">
          <p><img src="/images/500-error.png"></p>
          <h1>Dang.  Looks like we need to call another TowTruck!</h1>
      </div>
      
   </div> <!-- /container -->
</div>
   

