<% layout('../layout.ejs') -%>

<div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Get Started</a></li>
          <li><a href="#">About</a></li>
		  <li><a href="#">Resources</a></li>
          <li><a href="#">Contact</a></li>
		  <li>
            <% if (user.email){ %>
              <a id="logout" href="/">Sign Out (<%= user.email %>)</a>
            <% } else { %>
              <a id="login" href="#"><img src="/persona-sign_in.png"></a>
            <% } %>
          </li>
        </ul>
        <h3 class="muted">TowTruck</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Collaborate!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" href="#">Get Started!</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Do this</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>And this</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Mozilla Labs 2012</p>
      </div>