<% layout('../layout.ejs') -%>

		<div id="installation" class="horz-row" style="background:#e34623; margin:0px; padding:100px 0px 200px">
	      <div class="row container" style="margin:0px auto;">
			<h1 style="text-align:center;color:rgba(255,255,255,1);font-size:50px;font-weight:300;line-height:1;letter-spacing:-1px;margin:50px 0px;text-shadow:0px 1px 0px rgba(0,0,0,0.3);">How to install TowTruck</h1>
	        <div class="span6" style="margin:0 auto;">
	          <img style="width:550px;margin:0 auto;" src="images/site-install-01.png">
	          <h2 style="color:rgba(255,255,255,1);text-align:center;text-shadow:0px 1px 0px rgba(0,0,0,0.3);"><img src="images/site-icn-01.png" style="position:relative;top:-2px;left:0px;"> Add the Javascript.</h2>
	          <p style="color:rgba(255,255,255,0.5);text-align:center;">Simply copy and paste the TowTruck Javascript snippet below into your &lt;head&gt;&lt;/head&gt; tag on your site.</p>
	          <p><pre style="text-align:center;border-radius:2px;">&lt;script='https://towtruck.mozillalabs.com/towtruck.js'&gt;&lt;/script&gt;</pre></p>
	        </div><!-- /.span4 -->
	        <div class="span6">
	          <img style="width:550px;" src="images/site-install-02.png">
	          <h2 style="color:rgba(255,255,255,1);"><h2 style="color:rgba(255,255,255,1);text-align:center;text-shadow:0px 1px 0px rgba(0,0,0,0.3);"><img src="images/site-icn-02.png" style="position:relative;top:-2px;left:0px;"> Add the button.</h2>
	          <p style="color:rgba(255,255,255,0.5);text-align:center">After you've included the TowTruck Javascript snippet, copy and paste this button anywhere onto your site.  Congrats, your site is now TowTruck-enabled!</p>
	          <p><pre style="text-align:center;border-radius:2px;">&lt;a id="towtruck-bookmarklet" href=""&gt;Call TowTruck&lt;/a&gt;</pre></p>
	        </div><!-- /.span4 -->
	      </div><!-- /.row -->
		</div>
		
		
		<div id="getstarted" class="horz-row" style="background:#1baefc; margin:0px; padding:10px 0px 140px;">
	      <div class="featurette container" style="margin:0 auto;">
	        <img style="width:640px;height:500px;padding-top:100px;"class="featurette-image pull-right" src="images/site-start-01.png">
	        <h1 class="featurette-heading" style="color:rgba(255,255,255,1);font-size:50px;font-weight:300;line-height:1;letter-spacing:-1px;margin:50px 0px;text-shadow:0px 1px 0px rgba(0,0,0,0.3);">How to start a session</h1>
	        <h2 style="color:rgba(255,255,255,1);padding-top:20px;"><h2 style="color:rgba(255,255,255,1);text-shadow:0px 1px 0px rgba(0,0,0,0.3);"><img src="images/site-icn-01.png" style="position:relative;top:-2px;left:0px;"> Click the TowTruck button.</h2>
	          <p style="color:rgba(255,255,255,0.5);">Users simply click the TowTruck button on your site to show the special TowTruck session link.</p>
	        <h2 style="color:rgba(255,255,255,1);padding-top:20px;"><h2 style="color:rgba(255,255,255,1);text-shadow:0px 1px 0px rgba(0,0,0,0.3);"><img src="images/site-icn-02.png" style="position:relative;top:-2px;left:0px;"> Send the TowTruck link.</h2>
	          <p style="color:rgba(255,255,255,0.5);">Users can then copy, paste and send the link to a friend.  Once their friend clicks the link, they'll join the session!</p>
	      </div>
		</div>

		

		<div id="tools" class="horz-row" style="background:#75a734; margin:0px; padding:100px 0px">
	      <div class="row container" style="margin:0 auto;">
			<h1 style="text-align:center;color:rgba(255,255,255,1);font-size:50px;font-weight:300;line-height:1;letter-spacing:-1px;margin:50px 0px;text-shadow:0px 1px 0px rgba(0,0,0,0.3);">Helpful tools and features</h1>
	        <div class="span4"  style="margin:0 auto;">
	          <img style="width:400px;height:336px;" src="images/site-features-sample.png">
	          <h2 style="color:rgba(255,255,255,1)"><h2 style="color:rgba(255,255,255,1);text-shadow:0px 1px 0px rgba(0,0,0,0.3);"><img src="images/site-icn-cursor.png" style="position:relative;top:-2px;left:0px;width:30px;padding-right:10px;">Cursor-mirroring</h2>
	          <p style="color:rgba(255,255,255,0.5);">See your friend's cursors in real-time to help them point out areas on the page.</p>
	          <p></p>
	        </div><!-- /.span4 -->
	        <div class="span4">
	          <img style="width:400px;height:336px;" src="images/site-features-sample.png">
	          <h2 style="color:rgba(255,255,255,1);text-shadow:0px 1px 0px rgba(0,0,0,0.3);"><img src="images/site-icn-chat.png" style="position:relative;top:-2px;left:0px;width:30px;padding-right:10px">Real-time chat</h2>
	          <p style="color:rgba(255,255,255,0.5);">Talk to your friends over chat, so you can share resources and links.</p>
	          <p></p>
	        </div><!-- /.span4 -->
	        <div class="span4">
	          <img style="width:400px;height:336px;" src="images/site-features-sample.png">
	          <h2 style="color:#fff;text-shadow:0px 1px 0px rgba(0,0,0,0.3);"><img src="images/site-icn-mic.png" style="position:relative;top:-2px;left:0px;width:30px;padding-right:10px">Real-time voicecalls</h2>
	          <p style="color:rgba(255,255,255,0.5);">Using Web Real-Time Communication, you can talk with your friends over the microphone.</p>
	          <p></p>
	        </div><!-- /.span4 -->
	      </div><!-- /.row -->
		</div>
      
	      <!-- /END THE FEATURETTES -->


	    <!-- FOOTER -->
		<div id="contact" class="horz-row" style="background:white; margin:0px; padding:100px 0px">
	      <footer class="row container" style="margin:0 auto;">
	        <p class="pull-right"><a href="#">Back to top</a></p>
	        <p> <a href="#" style="font-family:metaPro;font-size:28px;font-weight:bold;">mozilla</a></p>
			<p>Designed and built with love by <a href="#">Mozilla Labs</a> &copy; <span id="year">TEXT</span></p>
			<p><a href="#">Git</a> &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	      </footer>
		</div>

	  <script type="text/javascript">
		  var currentYear = (new Date).getFullYear();
		  $(document).ready(function() {
		  $("#year").text( (new Date).getFullYear() );
		  });
	  </script>
