<% layout('../layout.ejs') -%>

      <div class="jumbotron">
        <iframe src="http://player.vimeo.com/video/57992755" width="700" height="393" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>

      <hr>

      <div id="getting-started" class="row-fluid marketing">
        <div class="span12">
	
		  <h1>Get Started</h1>
          <h4>1. Add this script inside your &lt;head&gt; tag</h4>

          <p><pre>&lt;script src='https://towtruck.mozillalabs.com/towtruck.js'&gt;&lt;/script&gt;</pre></p>

          <h4>2. Add this button to your site</h4>
          <p><pre>&lt;button id='towtruck-starter'&gt;Start TowTruck&lt;/button&gt;</pre></p>

          <h4>3. Style the TowTruck button</h4>
          <p>Feel free to add any styles or wording to the TowTruck button.  This is what your users will see.</p>

          <h4>4. Sit back and relax</h4>
          <p>Users will press the TowTruck button on your site and use it to get help.</p>

        </div>
      </div>

      <hr>

	<div id="about" class="row-fluid marketing">
        <div class="span12">
		
		  <h1>Why use TowTruck?</h1>
		
          <h4>Easy setup</h4>
          <p>Just copy and paste the TowTruck.js script into your site, and your site is instantly TowTruck enabled.</p>

		  <h4>Cross-platform collaboration</h4>
          <p>TowTruck optimizes the web, and allows users to collaborate for free across any device.</p>

          <h4>HTML5 optimized</h4>
          <p>TowTruck enables easier, seamless collaboration using HTML5 video and audio.</p>

          <h4>Let Mozilla be the trusted middle-man</h4>
          <p>Mozilla will handle and respect user-privacy.</p>
        </div>

      </div>

      <hr>

	<div id="resources" class="row-fluid marketing">
        <div class="span12">

		  <h1>Resources</h1>
          <h4>Just for you</h4>
			<ul>	
				<li><a href="https://github.com/mozilla/towtruck" target="_blank">Github repo</a></li>
				<li><a href="http://vimeo.com/57992755" target="_blank">Demo video</a></li>
				<li><a href="https://mozillalabs.com/en-US/" target="_blank">Mozilla Labs</a></li>
			</ul>

        </div>

      </div>

      <hr>

	  <script type="text/javascript">
		  var currentYear = (new Date).getFullYear();
		  $(document).ready(function() {
		  $("#year").text( (new Date).getFullYear() );
		  });
		</script>

      <div id="contact" class="footer">
        <p>Crafted by <a href="https://mozillalabs.com/en-US/" target="_blank">Mozilla Labs</a> in <span id="year">TEXT</span></p>
      </div>