<% layout('../layout.ejs') -%>
<% block("enableHome", true) %>

<div class="containerbg">
  <div id="introduction" class="section">
    <div class="container">
      <div class="row">
        <div class="span5">
          <h1>
            <img src="/images/towtruck-logo-lrg.png" alt="Logo">
            TowTruck
          </h1>
          <p class="lead">A <strong>service</strong> for your <strong>website</strong> that makes it surprisingly easy to <strong>collaborate</strong> in <strong>real-time</strong>.</p>
          <p class="lead"><a class="btn btn-large btn-primary" href="/example" id="btn-tryitout">Try it out here</a></p>
        </div>
        <div class="span7">
          <a id="show_video_modal" href="#video_modal" role="button" data-toggle="modal">
            <img src="images/site-product-shot.png" alt="Product shot">
          </a>
        </div>
        <div id="video_modal" class="modal hide fade" tabindex="-1" role="dialog">
          <button type="button" id="close_vimeo_modal" class="close" data-dismiss="modal">
            <img src="/images/icn-close-btn-wht.png" alt="close button">
          </button>
          <div class="modal-body">
            <iframe id="modal_vimeo_iframe" src="https://player.vimeo.com/video/57992755?portrait=0&amp;byline=0&amp;api=1&amp;player_id=modal_vimeo_iframe"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="introducing-towtruck" class="section">
    <div class="container">
      <h1 class="main-header">Introducing TowTruck.</h1>
      <h2 class="sub-header">Let's make collaborating on the web easier.</h2>
      <div class="span4 far-left">
        <img class="main-img" src="images/introducing-mozilla.png" alt="Browser Header Shared Image">
        <h2 class="subheader">By someone you trust.</h2>
        <p class="main-text">Built and hosted by <a href="http://www.mozilla.org/en-US/" target="_blank">Mozilla</a>, Towtruck is <a href="https://github.com/mozilla/towtruck" target="_blank">open source</a>.</p>
      </div>
      <div class="span4 textcenter">
        <img class="main-img" src="images/introducing-collaborate.png" alt="Browser Header Shared Image">
        <h2 class="subheader">Create together.</h2>
        <p class="main-text">TowTruck lets users communicate, co-author, co-browse and guide each other.</p>
      </div>
      <div class="span4 textcenter">
        <img class="main-img" src="images/introducing-web.png" alt="Browser Header Shared Image">
        <h2 class="subheader">Built for the web.</h2>
        <p class="main-text">TowTruck is implemented in Javascript; no software or plugins to install, and it's friendly with existing web pages, while still letting developers customize the experience.</p>
      </div>
    </div>
    <hr style="width:50%;margin:20px auto 0px;">
  </div>


  <div id="how_it_works" class="section">
    <div class="container">
      <h1 class="main-header">How it Works</h1>
      <div class="row">
        <ol class="span5" id="how_it_works_indicators">
          <li data-slide-index="0" class="active">
            <div class="col-left">
              <img src="images/site-howitworks-01.png" alt="Step 1">
            </div>
            <div class="col-right">
              <h2 class="subheader">Click the TowTruck button</h2>
              <p class="main-text">When on a TowTruck-enabled site, collaboration is only a click away.</p>
            </div>
            <div class="clear"></div>
          </li>
          <li  data-slide-index="1">
            <div class="col-left">
              <img src="images/site-howitworks-02.png" alt="Step 2">
            </div>
            <div class="col-right">
              <h2 class="subheader">Share the TowTruck link</h2>
              <p class="main-text">Copy and paste the TowTruck link and send to a friend.</p>
            </div>
            <div class="clear"></div>
          </li>
          <li data-slide-index="2">
            <div class="col-left">
              <img src="images/site-howitworks-03.png" alt="Step 3">
            </div>
            <div class="col-right">
              <h2 class="subheader">Wait for your friend to join</h2>
              <p class="main-text">
                You'll see a notification when your friend joins your session, and you can then collaborate in real-time!</p>
            </div>
            <div class="clear"></div>
          </li>
        </ol>
        <div class="span7">
          <div id="how_it_works_carousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="a active item">
                <img src="/images/sections/how_it_works/carousel-a.png" alt="Click the TowTruck Button" />
              </div>
              <div class="b item">
                <img src="/images/sections/how_it_works/carousel-b.png" alt="Click the TowTruck Button" />
              </div>
              <div class="c item">
                <div id="towtruck_demo_cursor" style="color: rgb(190, 24, 14); top: 146px; left: 188px;">
                  <img class="towtruck-cursor-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAyCAYAAACgadDsAAABq0lEQVRYR+3YQVLCMBQG4PfYqgwblZ0cgd6goReQI3gDvAnewCNwAS1H4Ai4a3VTW5xhmKHPEGDGalrS9iULh2666cyX95L+TYrhzdW9eM9m4PDCl9tu0sHNUETrpSsXX/tdAqD5KMqEY1SyBI9BnE5dwIdK9xRut574+FrYhgsoECxGceq5RaVGlD8F8WpiEy5WepAQciGi1dwWrEUltsR16okEEhtwGSrbTLMgzsZOUbWacxrbSKvSSlWFBAnixuNOq2p0L7OnlQHKn1ZGKHdaGaOcaWWOMqZVLVS1mSGtaqMcadUEbZ1WjdC2adUYbZNWzdEWadUSbZZWrdEmacWC1k0rHrRmWrGhddKKFTVNK27UKK3YUZO0MkblKesNAe6Mdocn9lZGKAE9BFH2vAPD/qWfAw7kR26AQD6pu24w5Xurk+hPsKpK3WDk+zvVnQQrUVOwbDBhD3q6U4IWlWfVT0CaHFtqNI81HvqD7sBOvvVtnlMLqAtQvVL7fw7qE2W9wuMMKNQlqCpVv3Qsz+HvNYbh9cXQ5qLRLWoZJu6vM2q15+f2/r/2fgOsvURCcTEEjAAAAABJRU5ErkJggg==" alt="Demo Cursor that moves around.">
                  <span class="towtruck-cursor-name">Comrade</span>
                </div>
                <img src="/images/sections/how_it_works/carousel-c.png" alt="Click the TowTruck Button" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="width:50%;margin:50px auto 0px;">
  </div>

  <div id="selector">
    <div class="container">
        I want to
        <div class="btn-group" data-toggle="buttons-radio">
          <button class="btn" type="button" name="rating" value="0"><i class="icon-user"></i>Use</button>
          <button class="btn" type="button" name="rating" value="1"><i class="icon-wrench"></i>Implement</button>
        </div>
        <img src="/images/site-icn-logo.png" alt="logo">TowTruck
    </div>
  </div>

  <div id="features" class="section">
    <div class="container">
      <h1 class="main-header">Features</h1>
        <div class="span4 far-left">
        <img class="main-img" src="images/site-features-01.png" alt="Browser Header Shared Image">
        <h2 class="subheader">Cursor-mirroring</h2>
        <p class="main-text">See your friend's cursors in real-time to help point to areas on the page.</p>
        <p></p>
      </div><!-- /.span4 -->
      <div class="span4 textcenter">
        <img class="main-img" src="images/site-features-02.png" alt="Browser Header Shared Image">
        <h2 class="subheader">Real-time chat</h2>
        <p class="main-text">Talk to your friends over chat, so you can share resources and links.</p>
        <p></p>
      </div><!-- /.span4 -->
      <div class="span4 textcenter">
        <img class="main-img" src="images/site-features-03.png" alt="Browser Header Shared Image">
        <h2 class="subheader">Real-time voice chat</h2>
        <p class="main-text">Using Web Real-Time Communication, you can talk with your friends over the microphone in the browser.</p>
        <p></p>
      </div><!-- /.span4 -->
    </div>
    <hr style="width:50%;margin:20px auto 0px;">
  </div>

  <div id="how_to_install" class="section">
    <div class="container">
      <h1 class="main-header">How to Install TowTruck</h1>
      <div class="row" id="steps">
        <div class="span6">
          <p class="main-text">Simply copy and paste the TowTruck JavaScript snippet below into your site.</p>
          <form>
            <fieldset>
              <textarea class="span6 copy-input">
&lt;script src="https://towtruck.mozillalabs.com/towtruck.js"&gt;&lt;/script&gt;</textarea>
            </fieldset>
          </form>
        </div>
        <div class="span6">
          <p class="main-text">After you've included the TowTruck JavaScript snippet, copy and paste this button anywhere onto your site!</p>
          <form>
            <fieldset>
              <textarea class="span6 copy-input"><button onclick=&quot;TowTruck(this); return false;&quot;>Start TowTruck</button></textarea>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="row" id="disclaimer">
        <strong>Note:</strong>
        TowTruck is <strong>alpha-quality software</strong>.  We do not recommend
        using it in production at this time.
      </div>
    </div>
    <hr style="width:50%;margin:50px auto 0px;">
  </div>
  
  <div id="tryitout" class="section">
    <div class="container">
      <h1 class="main-header">Try out TowTruck today!</h1>
      <p class="lead"><a class="btn btn-large btn-primary" id="btn-tryitout" href="/example">Try it out here</a></p>
    </div>
  </div>
</div>
