<% layout('../layout.ejs') -%>

<div id="introduction">
  <div class="container">
    <div class="row">
      <div class="span7">
        <!-- TODO: Figure out responsive sizing or hide iframe on smaller viewports -->
        <iframe src="http://player.vimeo.com/video/57992755"></iframe>
      </div>
      <div class="span5">
        <h1>
          <strong class="towtruck">TowTruck</strong>
          is a
          <strong>service</strong>
          for your
          <strong>website</strong>
          that makes it surprisingly easy to collaborate in
          <strong>real-time</strong>.
        </h1>
        <button class="btn btn-primary btn-large ">Get Started</button>
      </div>
    </div>
  </div>
</div>

<div id="tools" class="horz-row" style="background:red; margin:0px; padding:100px 0px">
  <div class="row container" style="margin:0 auto;">
    <h1 style="text-align:center;">Features</h1>
    <div class="span4" style="margin:0 auto;">
      <img class="img-circle" src="https://wiki.gogrid.com/wiki/images/8/82/140x140-redhat.gif">
      <h2>Cursor mirroring</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <img class="img-circle" src="https://wiki.gogrid.com/wiki/images/8/82/140x140-redhat.gif">
      <h2>Real-time chat</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <img class="img-circle" src="https://wiki.gogrid.com/wiki/images/8/82/140x140-redhat.gif">
      <h2>Real-time voice-chat</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>


<div id="getstarted" class="horz-row" style="background:blue; margin:0px; padding:100px 0px">
  <div class="row container" style="margin:0 auto;">
    <h1 style="text-align:center;">Getting Started:</h1>
    <script src="https://gist.github.com/simonwex/5122401.js"></script>
  </div>
</div>

