{% extends "base.tmpl" %}
{% block title %} Mozilla Labs : TowTruck example of a long page {% endblock %}
{# set enableExample true #}

{% block body %}

        <h1>A long page</h1>

        <p><strong>This is an example!</strong>  This isn't documentation of TowTruck itself.</p>

        <p>This is intended to show what it's like to co-browse a large page using TowTruck.</p>

  <ul>
    <li><a href="#Root_element">Root element</a></li>
  <li><a href="#Document_metadata">Document metadata</a></li>
  <li><a href="#Scripting">Scripting</a></li>
  <li><a href="#Sections">Sections</a></li>
  <li><a href="#Grouping_content">Grouping content</a></li>
  <li><a href="#Text-level_semantics">Text-level semantics</a></li>
  <li><a href="#Edits">Edits</a></li>
  <li><a href="#Embedded_content">Embedded content</a></li>
  <li><a href="#Tabular_data">Tabular data</a></li>
  <li><a href="#Forms">Forms</a></li>
  <li><a href="#Interactive_elements">Interactive elements</a></li>
  <li><a href="#See_also">See also</a></li>
  </ul>

  <p>This page list all <strong>standard HTML5 elements</strong>, described by their opening tag and grouped by function. Contrary to the <a href="https://developer.mozilla.org/en-US/docs/HTML/Element" title="HTML/Element">HTML Element index</a> which lists all possible tags, standard, non-standard, valid, obsolete or deprecated ones, this list only the valid HTML5 elements. Only those should be used in new Web sites.</p>
  <p>The symbol <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element was added as part of HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a> indicates that the element was added in HTML5. Note that other elements listed here may have been modified or extended by the HTML5 specification.</p>
  <h2 id="Root_element">Root element</h2>
  <table class="standard-table">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>html</code></td>
        <td>Represents the root of an HTML or XHTML document. All other elements must be descendants of this element.</td>
      </tr>
    </tbody>
  </table>
  <h2 id="Document_metadata">Document metadata</h2>
  <table class="standard-table">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>head</code></td>
        <td>Represents a collection of metadata about the document, including links to or definitions of scripts and style sheets.</td>
      </tr>
      <tr>
        <td><code>title</code></td>
        <td>Defines the title of the document, shown in a browser's title bar or on the page's tab. It can only contain text and any contained tags are not interpreted.</td>
      </tr>
      <tr>
        <td><code>base</code></td>
        <td>Defines the base URL for relative URL in the page.</td>
      </tr>
      <tr>
        <td><code>link</code></td>
        <td>Used to link JavaScript and external CSS with the current HTML document.</td>
      </tr>
      <tr>
        <td><code>meta</code></td>
        <td>Defines metadata that can't be defined using other HTML element.</td>
      </tr>
      <tr>
        <td><code>style</code></td>
        <td>Style tag is used to write inline CSS.</td>
      </tr>
    </tbody>
  </table>
  <h2 id="Scripting">Scripting</h2>
  <table class="standard-table">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>script</code></td>
        <td>Defines either an internal script or link to an external script. The script language is JavaScript</td>
      </tr>
      <tr>
        <td><code>noscript</code></td>
        <td>Defines an alternative content to display when the browser doesn't support scripting.</td>
      </tr>
    </tbody>
  </table>
  <h2 id="Sections">Sections</h2>
  <table class="standard-table">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>body</code></td>
        <td>
          <div>
            Represents the main content of an HTML document. There is only one <code>&lt;body&gt;</code> element in a document.</div>
        </td>
      </tr>
      <tr>
        <td><code>section</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Defines a section in a document</td>
      </tr>
      <tr>
        <td><code>nav</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Defines a section that contains only navigation links</td>
      </tr>
      <tr>
        <td><code>article</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Defines self-contained content that could exist independantly of the rest of the content</td>
      </tr>
      <tr>
        <td><code>aside</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Defines some content set aside from the rest of page content. If it is removed, the remaining content still make sense.</td>
      </tr>
      <tr>
        <td><a href="https://developer.mozilla.org/en-US/docs/HTML/Element/Heading_Elements" title="Elementy blokowe"><code>&lt;h1&gt;,&lt;h2&gt;,&lt;h3&gt;,&lt;h4&gt;,&lt;h5&gt;,&lt;h6&gt;</code></a></td>
        <td>Heading elements implement six levels of document headings, <code>&lt;h1&gt;</code> is the most important and <code>&lt;h6&gt;</code> is the least. A heading element briefly describes the topic of the section it introduces.</td>
      </tr>
      <tr>
        <td><code>hgroup</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Groups a set of <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code> elements when a heading has multiple levels</td>
      </tr>
      <tr>
        <td><code>header</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Defines the header of a page or section. It often contains a logo, the title of the Web site and a navigational table of content.</td>
      </tr>
      <tr>
        <td><code>footer</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Defines the footer for a page or section. It often contains a copyright notice, some links to legal information or addresses to give feedback.</td>
      </tr>
      <tr>
        <td><code>address</code></td>
        <td>Defines a section containing contact information.</td>
      </tr>
      <tr>
        <td><code>main</code><a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Defines the main or important content in the document. There is only one &lt;main&gt; element in the document.</td>
      </tr>
    </tbody>
  </table>
  <h2 id="Grouping_content">Grouping content</h2>
  <table class="standard-table">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>p</code></td>
        <td>Defines a portion that should be displayed as a paragrah.</td>
      </tr>
      <tr>
        <td><code>hr</code></td>
        <td>Represents a thematic break between paragraphs of a section or article or any longer content.</td>
      </tr>
      <tr>
        <td><code>pre</code></td>
        <td>Indicates that its content is preformatted and that this format must be preserved.</td>
      </tr>
      <tr>
        <td><code>blockquote</code></td>
        <td>Represents a citation.</td>
      </tr>
      <tr>
        <td><code>ol</code></td>
        <td>Defines an ordered list of items, that is a list which change its meaning if we change the order of its elements</td>
      </tr>
      <tr>
        <td><code>ul</code></td>
        <td>Defines an unordered list of items.</td>
      </tr>
      <tr>
        <td><code>li</code></td>
        <td>Defines a item of a enumeration list often preceded by a bullet in English.</td>
      </tr>
      <tr>
        <td><code>dl</code></td>
        <td>Defines a definition list, that is a list of terms and their associated definitions.</td>
      </tr>
      <tr>
        <td><code>dt</code></td>
        <td>Represents a term defined by the next <code>&lt;dd&gt;</code>.</td>
      </tr>
      <tr>
        <td><code>dd</code></td>
        <td>Represents the definition of the terms immediately listed before it.</td>
      </tr>
      <tr>
        <td><code>figure</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a figure illustrated a part of the document.</td>
      </tr>
      <tr>
        <td><code>figcaption</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents the legend of a figure.</td>
      </tr>
      <tr>
        <td><code>div</code></td>
        <td>Represents a generic container with no special meaning.</td>
      </tr>
    </tbody>
  </table>
  <h2 id="Text-level_semantics">Text-level semantics</h2>
  <table class="standard-table">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>a</code></td>
        <td>Represents an <i>hyperlink</i>, linking to another resource.</td>
      </tr>
      <tr>
        <td><code>em</code></td>
        <td>Represents <i>emphasized</i> text, like a stress accent.</td>
      </tr>
      <tr>
        <td><code>strong</code></td>
        <td>Represents especially <i>important</i> text.</td>
      </tr>
      <tr>
        <td><code>small</code></td>
        <td>Represents a <i>side comment</i>, that is text like a disclaimer, a copyright which is not essential to the comprehension of the document.<code> </code></td>
      </tr>
      <tr>
        <td><code>s</code></td>
        <td>Represents content that is no <i>longer accurate or relevant</i>.</td>
      </tr>
      <tr>
        <td><code>cite</code></td>
        <td>Represents the <i>title of a work</i>.</td>
      </tr>
      <tr>
        <td><code>q</code></td>
        <td>Represents an inline <i>quotation</i>.</td>
      </tr>
      <tr>
        <td><code>dfn</code></td>
        <td>Represents a term whose <i>definition</i> is contained in its nearest ancestor content.</td>
      </tr>
      <tr>
        <td><code>abbr</code></td>
        <td>Represents an <i>abbreviation</i> or an <i>acronym</i>, eventually with its meaning.</td>
      </tr>
      <tr>
        <td><code>data</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Associates to its content a <i>machine-readable equivalent</i>. (This element is only in the WHATWG version of the HTML standard, and not in the W3C version of HTML5).</td>
      </tr>
      <tr>
        <td><code>time</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>date</i> and <i>time</i> value, eventually with a machine-readable equivalent.</td>
      </tr>
      <tr>
        <td><code>code</code></td>
        <td>Represents some <i>computer code</i>.</td>
      </tr>
      <tr>
        <td><code>var</code></td>
        <td>Represents a <i>variable, that is an actual mathematical expression or programming context, an identifier representing a constant, a symbol identifying a physical quantity, a function parameter, or a mere placeholder in prose.</i></td>
      </tr>
      <tr>
        <td><code>samp</code></td>
        <td>Represents the <i>output</i> of a program or a computer.</td>
      </tr>
      <tr>
        <td><code>kbd</code></td>
        <td>Represents <i>user input</i>, often from the keyboard, but not necessary, it may represent other input, like transcribed voice commands.</td>
      </tr>
      <tr>
        <td><code>sub</code>,<code>sup</code></td>
        <td>Represents a <i>subscript</i>, respectively a <i>superscript.</i></td>
      </tr>
      <tr>
        <td><code>i</code></td>
        <td>Represents some text in an <i>alternate</i> voice or mood, or at least of different quality, such as a taxonomic designation, a technical term, an idiomatic phrase, a thought or a ship name.</td>
      </tr>
      <tr>
        <td><code>b</code></td>
        <td>Represents a text which to which attention is drawn for <i>utilitarian purposes</i>. It doesn't convey extra importance and doesn't implicate an alternate voice.</td>
      </tr>
      <tr>
        <td><code>u</code></td>
        <td>Represents <i>unarticulate</i> non-textual annoatation, such labeling the text as being misspelt or labeling a proper name in Chinese text.</td>
      </tr>
      <tr>
        <td><code>mark</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents text highlighted for <i>reference</i> purposes, that is for its relevance in another context.</td>
      </tr>
      <tr>
        <td><code>ruby</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents content to be marked with <i>ruby annotations</i>, short runs of text presented alongside the text. This is often used in conjunction with East Asian language where the annotations act as a guide for pronunciation, like the Japanese <i>furigana</i>.</td>
      </tr>
      <tr>
        <td><code>rt</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents the <i>text of a ruby annotation</i>.</td>
      </tr>
      <tr>
        <td><code>rp</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents <i>parenthesis</i> around a ruby annotation, used to display the annotation in an alternate way by browsers not supporting the standard display for annotations.</td>
      </tr>
      <tr>
        <td><code>bdi</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents text that must be <i>isolated</i> from its surrounding for bidirectional text formatting. It allows to embed span of text with a different, or unknown, directionality.</td>
      </tr>
      <tr>
        <td><code>bdo</code></td>
        <td>Represents the <i>directionality</i> of its children, in order to explicitly override the Unicode bidirectional algorithm.</td>
      </tr>
      <tr>
        <td><code>span</code></td>
        <td>Represents text with no specific meaning. This has to be used when no <i>other</i> text-semantic element conveys an adequate meaning, which, in this case, is often brought by global attributes like <code>class</code>, <code>lang</code>, or <code>dir</code>.</td>
      </tr>
      <tr>
        <td><code>br</code></td>
        <td>Represents a <i>line break</i>.</td>
      </tr>
      <tr>
        <td><code>wbr</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>line break opportunity</i>, that is a suggested wrapping point in order to improve readability of text split on several lines.</td>
      </tr>
    </tbody>
  </table>
  <h2 id="Edits">Edits</h2>
  <table class="standard-table">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>ins</code></td>
        <td>Defines an <i>addition</i> to the document.</td>
      </tr>
      <tr>
        <td><code>del</code></td>
        <td>Defines a <i>removal</i> from the document.</td>
      </tr>
    </tbody>
  </table>
  <h2 id="Embedded_content">Embedded content</h2>
  <table class="standard-table">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>img</code></td>
        <td>Represents an <i>image</i>.</td>
      </tr>
      <tr>
        <td><code>iframe</code></td>
        <td>Represents a <i>nested browsing context</i>, that is an embedded HTML document.</td>
      </tr>
      <tr>
        <td><code>embed</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>integration point</i> for an external, often non_HTML, application or interactive content.</td>
      </tr>
      <tr>
        <td><code>object</code></td>
        <td>Represents an <i>external resource</i>, which will be treated as an image, an HTML sub-document or an external resource to be processed by a plugin.</td>
      </tr>
      <tr>
        <td><code>param</code></td>
        <td>Defines <i>parameters</i> for use by plugins invoked by <code>&lt;object&gt;</code> elements.</td>
      </tr>
      <tr>
        <td><code>video</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>video</i>, and its associated audio files and captions, with the necessary interface to play it.</td>
      </tr>
      <tr>
        <td><code>audio</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>sound</i>, or an <i>audio stream</i>.</td>
      </tr>
      <tr>
        <td><code>source</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Allows authors to specify alternative media resources for media elements like <code>&lt;video&gt;</code> or <code>&lt;audio&gt;</code>.</td>
      </tr>
      <tr>
        <td><code>track</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Allows authors to specify timed <i>text track</i> for media elements like <code>&lt;video&gt;</code><i> or <code>&lt;audio&gt;</code>.</i></td>
      </tr>
      <tr>
        <td><code>canvas</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>bitmap area</i> that scripts can be used to render graphics, like graphs, game graphics, any visual images on the fly.</td>
      </tr>
      <tr>
        <td><code>map</code></td>
        <td>In conjunction with <code>&lt;area&gt;</code>, defines an <i>image map</i>.</td>
      </tr>
      <tr>
        <td><code>area</code></td>
        <td>In conjunction with <code>&lt;map&gt;</code>, defines an <i>image map</i>.</td>
      </tr>
      <tr>
        <td><code>svg</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Defines an embedded <i>vectorial image</i>.</td>
      </tr>
      <tr>
        <td><code>math</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Defines a <i>mathematical formula</i>.</td>
      </tr>
    </tbody>
  </table>
  <h2 id="Tabular_data">Tabular data</h2>
  <table class="standard-table">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>table</code></td>
        <td>Represents <i>data with more than one dimension</i>.</td>
      </tr>
      <tr>
        <td><code>caption</code></td>
        <td>Represents the <i>title of a table</i>.</td>
      </tr>
      <tr>
        <td><code>colgroup</code></td>
        <td>Represents a <i>set of one or more columns</i> of a table.</td>
      </tr>
      <tr>
        <td><code>col</code></td>
        <td>Represents a <i>column</i> of a table.</td>
      </tr>
      <tr>
        <td><code>tbody</code></td>
        <td>Represents the block of rows that describes the <i>concrete data</i> of a table.</td>
      </tr>
      <tr>
        <td><code>thead</code></td>
        <td>Represents the block of rows that describes the <i>column labels</i> of a table.</td>
      </tr>
      <tr>
        <td><code>tfoot</code></td>
        <td>Represents the block of rows that describes the <i>column summaries</i> of a table.</td>
      </tr>
      <tr>
        <td><code>tr</code></td>
        <td>Represents a <i>row of cells</i> in a table.</td>
      </tr>
      <tr>
        <td><code>td</code></td>
        <td>Represents a <i>data cell</i> in a table.</td>
      </tr>
      <tr>
        <td><code>th</code></td>
        <td>Represents a <i>header cell</i> in a table.</td>
      </tr>
    </tbody>
  </table>
  <h2 id="Forms">Forms</h2>
  <table class="standard-table">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>form</code></td>
        <td>Represents a <i>formular</i>, consisting of controls, that can be submitted to a server for processing.</td>
      </tr>
      <tr>
        <td><code>fieldset</code></td>
        <td>Represents a <i>set of controls</i>.</td>
      </tr>
      <tr>
        <td><code>legend</code></td>
        <td>Represents the <i>caption</i> for a <code>&lt;fieldset&gt;</code>.</td>
      </tr>
      <tr>
        <td><code>label</code></td>
        <td>Represents the <i>caption</i> of a form control.</td>
      </tr>
      <tr>
        <td><code>input</code></td>
        <td>Represents a <i>typed data field</i> allowing the user to edit the data.</td>
      </tr>
      <tr>
        <td><code>button</code></td>
        <td>Represents a <i>button</i>.</td>
      </tr>
      <tr>
        <td><code>select</code></td>
        <td>Represents a control allowing the <i>selection among a set of options</i>.</td>
      </tr>
      <tr>
        <td><code>datalist</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>set of predefined options</i> for other controls.</td>
      </tr>
      <tr>
        <td><code>optgroup</code></td>
        <td>Represents a <i>set of options</i>, logically grouped.</td>
      </tr>
      <tr>
        <td><code>option</code></td>
        <td>Represents an <i>option</i> in a <code>&lt;select&gt;</code> element, or a suggestion of a <code>&lt;datalist&gt;</code> element.</td>
      </tr>
      <tr>
        <td><code>textarea</code></td>
        <td>Represents a <i>multiline text edit control</i>.</td>
      </tr>
      <tr>
        <td><code>keygen</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>key pair generator control</i>.</td>
      </tr>
      <tr>
        <td><code>output</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents the <i>result of a calculation</i>.</td>
      </tr>
      <tr>
        <td><code>progress</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents the <i>completion progress</i> of a task.</td>
      </tr>
      <tr>
        <td><code>meter</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a scalar <i>measurement</i> (or a fractional value), within a known range</td>
      </tr>
    </tbody>
  </table>
  <h2 id="Interactive_elements">Interactive elements</h2>
  <table class="standard-table">
    <thead>
      <tr>
        <th scope="col">Element</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>details</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>widget</i> from which the user can obtain additional information or controls.</td>
      </tr>
      <tr>
        <td><code>summary</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>summary</i>, <i>caption</i>, or <i>legend</i> for a given <code>&lt;details&gt;</code>.</td>
      </tr>
      <tr>
        <td><code>command</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>command</i> that the user can invoke.</td>
      </tr>
      <tr>
        <td><code>menu</code> <a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5"><img alt="This element has been added in HTML5" src="https://developer.mozilla.org/files/3843/HTML5_Badge_32.png" style="width: 16px; height: 16px; vertical-align: middle;" title="This element has been added in HTML5" /></a></td>
        <td>Represents a <i>list of commands</i>.</td>
      </tr>
    </tbody>
  </table>
  <h2 id="See_also">See also</h2>
  <ul>
    <li><a href="https://developer.mozilla.org/en-US/docs/HTML/HTML5" title="HTML/HTML5">A set of documents about HTML5</a>.</li>
    <li>The <a href="https://developer.mozilla.org/en-US/docs/HTML/Element" title="HTML/Element">reference of all HTML tags</a>, even elements no more valid in HTML5.</li>
    <li>Another way of listing the tags: the <a href="http://joshduck.com/periodic-table.html" title="http://joshduck.com/periodic-table.html">Periodic table of HTML5 elements</a> by Josh Duck.</li>
  </ul>


  </div>

{% endblock %}
