PORT=8080
HUB_SERVER_PORT=8081
HUB_BASE=http://localhost:8081
EXAMPLE_SERVER_PORT=8082
SESSION_SECRET=I pick my best friends on wheter or not they would help me bury a body.
PERSONA_AUDIENCE=http://localhost:8080
LOGGER_LEVEL=silly
GA_ACCOUNT=UA-XXXXXXXX-XX
