<div id="towtruck-container" class="towtruck">

  <!-- This is the main set of buttons: -->
  <div id="towtruck-interface" class="towtruck-interface-right">
    <div id="towtruck-anchor">
      <!-- FIXME: replace this with dots: -->
      <span id="towtruck-anchor-horizontal">
        <img src="http://localhost:8080/images/icn-handle-circle.png"><img src="http://localhost:8080/images/icn-handle-circle.png"><img src="http://localhost:8080/images/icn-handle-circle.png">
      </span>
      <span id="towtruck-anchor-vertical">
        <img src="http://localhost:8080/images/icn-handle-circle.png"><img src="http://localhost:8080/images/icn-handle-circle.png"><img src="http://localhost:8080/images/icn-handle-circle.png">
      </span>
    </div>
    <div id="towtruck-buttons">
      <div style="display: none">
        <button id="towtruck-template-dock-person"
                class="towtruck-button towtruck-dock-person">
          <img src="" class="towtruck-avatar">
        </button>
      </div>
      <button id="towtruck-about-button" class="towtruck-button">
        <img src="http://localhost:8080/images/icn-logo.png">
      </button>
      <button id="towtruck-share-button" class="towtruck-button">
      </button>
      <button id="towtruck-audio-button" class="towtruck-button">
        <div id="towtruck-audio-unavailable" class="towtruck-audio-set" data-toggles=".towtruck-audio-set">
        </div>
        <div id="towtruck-audio-ready" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
        <div id="towtruck-audio-outgoing" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
        <div id="towtruck-audio-incoming" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
        <div id="towtruck-audio-active" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
        <div id="towtruck-audio-muted" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
        <div id="towtruck-audio-error" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
      </button>
      <button id="towtruck-chat-button" class="towtruck-button">
      </button>
      <button id="towtruck-participants-button" class="towtruck-button">
      </button>
      <div id="towtruck-dock-participants">
      </div>
	  <button id="towtruck-expand-button" class="towtruck-button">
        <img src="http://localhost:8080/images/hr-line.png">
      </button>
    </div>
  </div>

  <!-- The window for closing the session: -->
  <div id="towtruck-about" class="towtruck-window" data-bound-to="towtruck-about-button"
       style="display: none">
    <header class="towtruck-title">
      End TowTruck?
    </header>
    <section>
	  <h4>
        Would you like to end your current session?
      </h4>
      <p>
		<button id="towtruck-end-session">End session</button>
        <button id="towtruck-cancel-end-session">Continue session</button>
      </p>
      <p class="small">
        TowTruck is a <a href="https://mozillalabs.com" target="_blank">Mozilla Labs</a> project.
        For more info see <a href="https://towtruck.mozillalabs.com" target="_blank">towtruck.mozillalabs.com</a>.
      </p>
    </section>
	<div id="triangle-left"></div>

  </div>

  <!-- The window that shows the share link: -->
  <div id="towtruck-share" class="towtruck-window" data-bound-to="towtruck-share-button"
       style="display: none">
    <header class="towtruck-title">
      Connect
    </header>
    <section>
      <h4>
		Hi, welcome to TowTruck!
	  </h4>
      <p>
        Send this link below to a friend to connect.
      </p>
      <p>
        <input type="text" id="towtruck-share-link">
      </p>
	  <p class="small">This is session: <span id="towtruck-session-id"></span></p>

    </section>
  </div>

  <!-- The chat screen: -->
  <div id="towtruck-chat" class="towtruck-window" data-bound-to="towtruck-chat-button"
       style="display: none">
    <header class="towtruck-title">
      Chat
    </header>

    <div style="display: none">

      <!-- Template for one message: -->
      <div id="towtruck-template-chat-message" class="towtruck-chat-message towtruck-chat-real">
        <div class="towtruck-avatar"><img src="http://localhost:8080/images/default-avatar.png"></div>
	    <div class="towtruck-timestamp"><span class="towtruck-time">HH:MM</span> <span class="towtruck-ampm">AM/PM</span></div>
        <div class="towtruck-person">Aaron</div>
        <div class="towtruck-chat-content"></div>
		<div class="towtruck-hr-line"></div>
      </div>

      <!-- Template for when a person leaves: -->
      <div id="towtruck-template-chat-left" class="towtruck-chat-message">
        <span class="towtruck-person"></span> left the session.
      </div>

      <!-- Template for system-derived messages: -->
      <div id="towtruck-template-chat-system" class="towtruck-chat-message">
        <span class="towtruck-chat-content"></span>
      </div>

      <!-- Template for when someone goes to a new URL: -->
      <div id="towtruck-template-url-change" class="towtruck-chat-message">
        <div class="towtruck-avatar"><img src="http://localhost:8080/images/default-avatar.png"></div>
        <div class="towtruck-timestamp"><span class="towtruck-time">HH:MM</span> <span class="ampm">AM/PM</span></div>
        <div class="towtruck-person"></div>
        <div class="towtruck-chat-content">I've gone to: <a href="#" class="towtruck-url" target="_self"></a>
        </div>
      </div>

    </div>

    <section id="towtruck-chat-messages">
    </section>
    <section>
      <input type="text" id="towtruck-chat-input" placeholder="Type your message here">
    </section>
  </div>

  <!-- The popup when a chat message comes in and the #towtruck-chat window isn't open -->
  <div id="towtruck-chat-notifier" class="towtruck-popup"
       data-bound-to="towtruck-participants-button"
       style="display: none">
    <div class="towtruck-close">&times;</div>
    <section id="towtruck-chat-notifier-message">
    </section>
  </div>

  <div style="display: none">
    <div id="towtruck-template-url-change-popup" class="towtruck-popup towtruck-url-change-popup">
      <div class="towtruck-close">&times;</div>
      <p>
        <div class="towtruck-avatar"><img src="http://localhost:8080/images/default-avatar.png"></div>
        <span class="towtruck-person">foo</span>
        is at
        <a href="#" class="towtruck-url" target="_self"></a>
      </p>
      <p>
        <button class="towtruck-follow">Follow</button>
        <button class="towtruck-nudge">Come back!</button>
        <a href="#" class="towtruck-ignore">Not now</a>
      </p>
    </div>
  </div>

  <!-- The list of participants: -->
  <div id="towtruck-participants" class="towtruck-window"
       data-bound-to="towtruck-participants-button"
       style="display: none">
    <header class="towtruck-title">
      Participants
    </header>
    <section id="towtruck-participants-self">
      <header>
        <span id="towtruck-participants-is-owner"
              data-toggles="#towtruck-participants-is-following">Owner:
        </span>
        <span id="towtruck-participants-is-following"
              data-toggles="#towtruck-participants-is-owner"
              style="display: none">Following:
        </span>
      </header>
      <div id="towtruck-no-avatar-edit" data-toggles="#towtruck-avatar-edit">
	    <img src="http://localhost:8080/images/default-avatar.png" class="towtruck-avatar"
             id="towtruck-self-avatar">
        <span id="towtruck-self-color" class="towtruck-color"></span>
        <input type="text" id="towtruck-self-name" placeholder="Enter your name">
        <span id="towtruck-checkmark">
          <span id="towtruck-self-name-saved" data-toggles="#towtruck-self-name-saving">&#x2713;</span>
          <span id="towtruck-self-name-saving" data-toggles="#towtruck-self-name-saved" style="display: none">&#8230;</span>
        </span>
      </div>
      <div style="display: none" id="towtruck-avatar-edit" data-toggles="#towtruck-no-avatar-edit, #towtruck-participants-other">
        <div>
          <img src="http://localhost:8080/images/default-avatar.png" class="towtruck-avatar"
               id="towtruck-self-avatar-preview">
          <button id="towtruck-self-avatar-accept" disabled="1">Save</button>
          <button id="towtruck-self-avatar-cancel">Cancel</button>
        </div>
        <!-- This is hidden when RTC is not supported: -->
        <fieldset>
          <legend>Upload a picture</legend>
          <input type="file" accept="image/jpeg,image/png" placeholder="upload file"
                 id="towtruck-avatar-upload">
        </fieldset>
        <fieldset id="towtruck-avatar-edit-rtc">
          <legend>Take a picture</legend>
          <!-- the 90 pixel measurement should match session.AVATAR_HEIGHT: -->
          <video id="towtruck-avatar-video" width=90 height=90></video>
          <button id="towtruck-avatar-use-camera">Take picture</button>
        </fieldset>
      </div>
    </section>
	<div class="towtruck-clear"></div>

    <!-- Template for one participant: -->
    <div style="display: none">
      <div id="towtruck-template-participant" class="towtruck-participant">
        <span class="towtruck-participant-color towtruck-color"></span>
        <span class="towtruck-participant-name"></span>
      </div>
    </div>

    <section id="towtruck-participants-other">
      <header>Participants:</header>
      <div id="towtruck-participants-list" class="regular" style="display: none">
      </div>
      <p id="towtruck-participants-none">
        There is no one else currently participating in the session.
      </p>
    </section>
  </div>


  <audio id="towtruck-audio-element"></audio>

  <!-- Some miscellaneous templates -->
  <div style="display: none">

    <!-- This is the cursor: -->
    <div id="towtruck-template-cursor"
         class="towtruck-cursor towtruck">
      <img class="towtruck-cursor-img" src="http://localhost:8080/images/cursor-white.png">
      <!-- Displayed when the cursor is below the screen: -->
      <span class="towtruck-cursor-down">
        &#8595;
      </span>
      <!-- Displayed when the cursor is above the screen: -->
      <span class="towtruck-cursor-up">
        &#8593;
      </span>
      <span class="towtruck-cursor-name"></span>
      <span style="display: none" class="towtruck-cursor-typing">...</span>
    </div>

    <!-- This is a click: -->
    <div id="towtruck-template-click"
         class="towtruck-click towtruck">
    </div>

  </div>

</div>
