<div id="towtruck-container" class="towtruck">

  <!-- This is the main set of buttons: -->
  <div id="towtruck-interface" class="towtruck-interface-right">
    <div id="towtruck-anchor">
      <!-- FIXME: replace this with dots: -->
      <span id="towtruck-anchor-horizontal">
        <img src="http://localhost:8080/images/icn-handle-circle.png"><img src="http://localhost:8080/images/icn-handle-circle.png"><img src="http://localhost:8080/images/icn-handle-circle.png">
      </span>
      <span id="towtruck-anchor-vertical">
        <img src="http://localhost:8080/images/icn-handle-circle.png"><img src="http://localhost:8080/images/icn-handle-circle.png"><img src="http://localhost:8080/images/icn-handle-circle.png">
      </span>
    </div>
    <div id="towtruck-buttons">
      <div style="display: none">
        <button id="towtruck-template-dock-person"
                class="towtruck-button towtruck-dock-person">
          <img src="" class="towtruck-avatar">
        </button>
      </div>
      <button id="towtruck-about-button" class="towtruck-button">
      </button>
      <button id="towtruck-audio-button" class="towtruck-button">
        <div id="towtruck-audio-unavailable" class="towtruck-audio-set" data-toggles=".towtruck-audio-set">
        </div>
        <div id="towtruck-audio-ready" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
        <div id="towtruck-audio-outgoing" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
        <div id="towtruck-audio-incoming" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
        <div id="towtruck-audio-active" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
        <div id="towtruck-audio-muted" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
        <div id="towtruck-audio-error" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
        </div>
      </button>
      <button id="towtruck-chat-button" class="towtruck-button"><div id="towtruck-audio-error" class="towtruck-audio-set" data-toggles=".towtruck-audio-set" style="display: none">
      </div>
      </button>
      <div id="towtruck-dock-participants">
      </div>
	  <button id="towtruck-expand-button" class="towtruck-button">
        <!-- <img src="http://localhost:8080/images/hr-line.png"> -->
      </button>
    </div>
  </div>

  <!-- The window for closing the session: -->
  <div id="towtruck-about" class="towtruck-window" data-bound-to="towtruck-about-button"
       style="display: none">
    <header class="towtruck-title">
      Settings
    </header>
    <section>
	      <p class="towtruck-about-txt">
	        Send this link to a friend
	      </p>
		<div id="towtruck-share-link-box">
	      <p>
	        <input type="text" id="towtruck-share-link">
	      </p>
		</div>
	      <p class="towtruck-about-txt-bottom">
	        Set up your profile
	      </p>
		<div id="towtruck-setup-profile-box" data-toggles="#towtruck-avatar-edit">
		    <img src="http://localhost:8080/images/default-avatar.png" class="towtruck-avatar"
	             id="towtruck-self-avatar">
	        <input type="text" id="towtruck-self-name" placeholder="Enter your name">
	        <span id="towtruck-checkmark">
	          <span id="towtruck-self-name-saved" data-toggles="#towtruck-self-name-saving">&#x2713;</span>
	          <span id="towtruck-self-name-saving" data-toggles="#towtruck-self-name-saved" style="display: none">&#8230;</span>
	        </span>
			<span id="towtruck-self-color" class="towtruck-color"></span>
	      </div>

		  <!-- <p class="small">This is session: <span id="towtruck-session-id"></span></p> -->
		<div class="towtruck-bottom-panel">
		  <p><hr></p>
	      <p>
			<button id="towtruck-end-session">End TowTruck</button>
	        <!-- <button id="towtruck-cancel-end-session">Continue session</button> -->
	      </p>
		  <p class="small">
	        <a href="https://towtruck.mozillalabs.com" target="_blank">TowTruck</a> created by <a href="https://mozillalabs.com" target="_blank">Mozilla Labs</a> &bull; <a href="https://docs.google.com/spreadsheet/ccc?key=0AhaY9YfKCqi_dElDNjhkRjBhWndYNkFyZnlLd3p4Nnc&usp=sharing" target="_blank">Feedback</a> &bull; <a href="#" id="towtruck-help">Help</a>
	      </p>
		</div>
    </section>

  </div>

  <!-- The chat screen: -->
  <div id="towtruck-chat" class="towtruck-window" data-bound-to="towtruck-chat-button"
       style="display: none">
    <header class="towtruck-title">
      Chat
    </header>

    <div style="display: none">

      <!-- Template for one message: -->
      <div id="towtruck-template-chat-message" class="towtruck-chat-message towtruck-chat-real">
        <div class="towtruck-avatar"><img src="http://localhost:8080/images/default-avatar.png"></div>
	    <div class="towtruck-timestamp"><span class="towtruck-time">HH:MM</span> <span class="towtruck-ampm">AM/PM</span></div>
        <div class="towtruck-person">Aaron</div>
        <div class="towtruck-chat-content"></div>
		<div class="towtruck-hr-line"></div>
      </div>

      <!-- Template for when a person leaves: -->
      <div id="towtruck-template-chat-left" class="towtruck-chat-message">
        <span class="towtruck-person"></span> left the session.
      </div>

      <!-- Template for system-derived messages: -->
      <div id="towtruck-template-chat-system" class="towtruck-chat-message">
        <span class="towtruck-chat-content"></span>
      </div>

      <!-- Template for when someone goes to a new URL: -->
      <div id="towtruck-template-url-change" class="towtruck-chat-message">
        <div class="towtruck-avatar"><img src="http://localhost:8080/images/default-avatar.png"></div>
        <div class="towtruck-timestamp"><span class="towtruck-time">HH:MM</span> <span class="ampm">AM/PM</span></div>
        <div class="towtruck-person"></div>
        <div class="towtruck-chat-content">I've gone to: <a href="#" class="towtruck-url" target="_self"></a>
        </div>
      </div>

    </div>

    <section id="towtruck-chat-messages">
	<!-- FIX ME// need to have some dialogue that says something like - There are no chats yet! -->
    </section>
    <section id="towtruck-chat-messages-box">
      <input type="text" id="towtruck-chat-input" placeholder="Type your message here">
    </section>
  </div>

  <!-- this is a kind of warning popped up when you (successfully) start RTC: -->
  <div id="towtruck-rtc-info" class="towtruck-window"
       data-bound-to="towtruck-audio-button"
       style="display: none">
    <header class="towtruck-title">Audio Chat</header>
	<p>Activate your browser microphone above <img src="/images/icn-arrow-up.png" class="towtruck-arrow-up"></p>
    <p>Talking on your microphone through your web browser is an experimental feature.</p>
	<p>Read more about Audio Chat <a href="https://github.com/mozilla/towtruck/wiki/About-Audio-Chat-and-WebRTC" target="_blank">here</a>.
    </p>

    <div id="towtruck-rtc-dialog-btn">
      <button class="towtruck-dismiss" type="button">Close</button>
      <label for="towtruck-rtc-info-dismiss" style="display: inline">
        <input class="towtruck-dont-show-again" id="towtruck-rtc-info-dismiss" type="checkbox">
        Don't show again.
      </label>
    </div>

  </div>

  <!-- this is popped up when you hit the audio button, but RTC isn't
  supported: -->
  <div id="towtruck-rtc-not-supported" class="towtruck-window"
       data-bound-to="towtruck-audio-button"
       style="display: none">
    <header class="towtruck-title">Audio Chat</header>

	<p>Audio chat requires a newer browser!</p>


    <p>Live audio chat requires a newer (or different) browser than
      you are
      using.</p>
	<p>See this <a href="https://github.com/mozilla/towtruck/wiki/About-Audio-Chat-and-WebRTC"
      target="_blank">page</a> for more information and a list of supported browsers.
    </p>

    <div id="towtruck-rtc-dialog-btn">
      <button class="towtruck-dismiss" type="button">Close</button>
    </div>
  </div>

  <!-- The popup when a chat message comes in and the #towtruck-chat window isn't open -->
  <div id="towtruck-chat-notifier" class="towtruck-popup"
       data-bound-to="towtruck-chat-button"
       style="display: none">
    <div class="towtruck-close"><img src="/images/icn-close-btn.png"></div>
    <section id="towtruck-chat-notifier-message">
    </section>
  </div>

  <div style="display: none">

    <!-- User went to new URL: -->
    <div id="towtruck-template-url-change-popup" class="towtruck-popup towtruck-url-change-popup">
      <!-- <div class="towtruck-close"></div> -->
      <div class="towtruck-avatar"><img src="http://localhost:8080/images/default-avatar.png"></div>
	  <p class="towtruck-snippet">
        <span class="towtruck-person" style="padding:0px"></span> is at <a href="#" class="towtruck-url" target="_self"></a>
      </p>
      <p class="towtruck-notify-btns">
        <button class="towtruck-follow">Follow</button>
        <button class="towtruck-nudge">Come back!</button>
        <a href="#" class="towtruck-ignore">Not now</a>
      </p>
    </div>

    <!-- New user notification: -->
    <div id="towtruck-template-new-user" class="towtruck-popup">
      <div class="towtruck-close"></div>
	  <p class="towtruck-snippet">
        <span class="towtruck-person" style="padding:0px"></span> has joined!
      </p>
      <p class="towtruck-notify-btns">
        <button class="towtruck-dismiss">Okay</button>
      </p>
    </div>

  </div>

  <audio id="towtruck-audio-element"></audio>

  <!-- The intro screen for someone who joins a session the first time: -->
  <div id="towtruck-intro" class="towtruck-modal" style="display: none">
    <header class="towtruck-title">Welcome to TowTruck!</header>

    <p>Your friend has asked you to join their <a href="https://towtruck.mozillalabs.com/" target="_blank">TowTruck</a> browser session to collaborate in real-time!</p>

	<p>Would you like to join their session?</p>

    <p><button class="towtruck-modal-close">Yes, join session</button></p>
	<p><button class="towtruck-modal-dont-join">No, don't join</button></p>
  </div>

  <!-- Our alpha intro: -->
  <div id="towtruck-alpha-intro" class="towtruck-modal" style="display: none">
    <!-- FIXME: the header doesn't render well at a wide width, but we have more
         text than fits into the small box -->
    <header class="towtruck-title">TowTruck Alpha Preview</header>

	<p class="towtruck-img-alpha"><img src="/images/img-logo-alpha.png" alt="Alpha Logo"></p>

	<p>Thanks for checking out the <a href="https://towtruck.mozillalabs.com/" target="_blank">TowTruck</a> Alpha Preview!  We'd very much appreciate feedback* <a href="https://docs.google.com/spreadsheet/ccc?key=0AhaY9YfKCqi_dElDNjhkRjBhWndYNkFyZnlLd3p4Nnc&usp=sharing" target="_blank">here</a>.</p>
		
	<p class="towtruck-small-feedback-txt">*You can also find the <a href="https://docs.google.com/spreadsheet/ccc?key=0AhaY9YfKCqi_dElDNjhkRjBhWndYNkFyZnlLd3p4Nnc&usp=sharing" target="_blank">feedback</a> link in "Settings."</p>

	<p><button class="towtruck-modal-close">Continue</button></p>

  </div>

  <!-- The pointer at the side of a window: -->
  <div id="towtruck-window-pointer-right" style="display: none"></div>
  <div id="towtruck-window-pointer-left" style="display: none"></div>

  <!-- The element that overlaps the background of the page during a modal dialog: -->
  <div id="towtruck-modal-background" style="display: none"></div>

  <!-- Some miscellaneous templates -->
  <div style="display: none">

    <!-- This is the cursor: -->
    <div id="towtruck-template-cursor"
         class="towtruck-cursor towtruck">
      <img class="towtruck-cursor-img" src="http://localhost:8080/images/cursor-white.png">
      <span class="towtruck-cursor-container">
        <span class="towtruck-cursor-name"></span>
        <span style="display:none" class="towtruck-cursor-typing">...</span>
        <!-- Displayed when the cursor is below the screen: -->
        <span class="towtruck-cursor-down">
          &#8595;
        </span>
        <!-- Displayed when the cursor is above the screen: -->
        <span class="towtruck-cursor-up">
          &#8593;
        </span>
      </span>
    </div>

    <!-- This is a click: -->
    <div id="towtruck-template-click"
         class="towtruck-click towtruck">
    </div>

  </div>

</div>
