{% extends "base.tmpl" %}
{# set enableMarkdown true #}
{% block body_tag %}data-spy="scroll" data-target="#markdownpages"{% endblock %}
{% block body %}

<script type="text/javascript" charset="utf-8">
  //adding active class
  var activeurl = window.location.pathname;
  if(activeurl == "/docs/") {
    $( ".documentationActive" ).addClass( "active" );
  }
</script>

<div class="container">
  <section class="row" id="markdownpages">
    <div class="col-md-3">
      <div class="panel" role="complementary" data-spy="affix" data-offset-top="200" data-offset-bottom="10" id="sidenav">
        <ul id="sectionmenu" class="nav">
          <li><a href="#" class="scrollnavdocs"></a></li>
          <li><a href="#quick-start" class="scrollnavdocs">Quick Start</a></li>
          <li><a href="#technology-overview" class="scrollnavdocs">Technology Overview</a></li>
          <li><a href="#configuring-togetherjs" class="scrollnavdocs">Configuring TogetherJS</a></li>
          <li><a href="#start-togetherjs-button" class="scrollnavdocs">Start TogetherJS Button</a></li>
          <li><a href="#about-audio-chat-and-webrtc" class="scrollnavdocs">About Audio Chat and WebRTC</a></li>
          <li><a href="#extending-togetherjs" class="scrollnavdocs">Extending TogetherJS</a></li>
          <li><a href="#communication-channel" class="scrollnavdocs">Communication Channel</a></li>
          <li><a href="#setting-identity-information" class="scrollnavdocs">Setting Identity Information</a></li>
          <li><a href="#getting-a-static-copy-of-the-client" class="scrollnavdocs">Getting a Static Copy of the Client</a></li>
          <li><a href="#browser-support" class="scrollnavdocs">Browser Support</a></li>
          <li><a href="#hosting-the-hub-server" class="scrollnavdocs">Hosting the Hub Server</a></li>
          <li><a href="#addons" class="scrollnavdocs">Addons</a></li>
          <li><a href="#getting-help" class="scrollnavdocs">Getting Help</a></li>
        </ul>
        <div class="well">
          <button type="button" class="btn btn-primary btn-lg btn-block" id="get-help">
            Get Live Help
          </button>
          <div class="small text-center">Get support from the TogetherJS team.
          <div style="display: none" id="nobody-home">Sorry, no one is available at this time.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h1>{{ title }}</h1>
      {{ markdownBody }}
    </div>
  </section>

{% endblock %}
