{% extends "base.tmpl" %}
{% block body %}

    <div class="container">
      <section class="body-content" id="main-section" data-speed="4" data-type="background">
        <section class="row" id="tour">
          <div class="col-xs-12">
            <h1>FAQ</h1>
            <h3>What is TogetherJS?</h3>
            <p>TogetherJS is a JavaScript library that adds collaboration features and tools to your website or app.</p>
            <h3>If I'm using TogetherJS with people, can they see the current webpage I'm on?</h3>
            <p>Yup! TogetherJS allows another user to see the content on your screen.  So just be careful and do not show sensitive information.</p>
            <h3>Does TogetherJS work on Internet Explorer?</h3>
            <p>Not really, but we really need your help to make it better on IE!  Please help us to improve TogetherJS on IE by taking on a bug in GitHub <a href="https://github.com/mozilla/togetherjs/issues?labels=IE&milestone=&page=1&state=open" target="_blank">here</a>.</p>
            <!-- <h3>Section header</h3>
            <p>text goes here.</p> -->
          </div>
        </section>

{% endblock %}
