{% extends "base.tmpl" %}
{% block body %}

<div class="container">
  <section class="row">
    <div class="col-xs-12">
      <h1>{{ markdownTitle }}</h1>
      {{ markdownBody }}
    </div>
  </section>
  
{% endblock %}
