{% extends "base.tmpl" %}
{% block body %}

<div class="container">
  <section class="row">
    <div class="col-xs-3">
      <div class="panel" data-spy="affix" data-offset-top="200" id="myAffix">
        <h3>Docs</h3>
        <ul class="nav">
          <li><a href="#" class="scrollnav">Developers: Getting Started</a></li>
          <li><a href="#" class="scrollnav">About Audio Chat and WebRTC</a></li>
          <li><a href="#" class="scrollnav">Addons</a></li>
          <li><a href="#" class="scrollnav">Contributing</a></li>
          <li><a href="#" class="scrollnav">Extending</a></li>
          <li><a href="#" class="scrollnav">Hosting the Hub Server</a></li>
          <li><a href="#" class="scrollnav">Supported Browsers</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-9">
      <h2>{{ title }}</h2>
      {{ markdownBody }}
    </div>
  </section>
  
{% endblock %}
