{% extends "base.tmpl" %}
{% block styles %}
  <link rel="stylesheet" href="{{ base }}css/docco.css">
  <script src="{{ base }}js/source-code.js"></script>
{% endblock %}
{% block body %}

<div class="container">

    <section class="row" id="sourcecode">
      <div class="col-md-3" id="source-toc">
        <div class="panel" role="complementary" data-spy="affix" data-offset-top="200" id="sidenav">
          <div class="panel-heading">Source Code</div>
          <ul class="nav" id="sectionmenu">
            {% for source in sourceList %}
              <li><a href="{{ source.link }}">{{ source.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-md-9" id="source-content">
        <h1>{{ source }}</h1>
        {% if sourceDescription %}
          <h4>{{ sourceDescription }}</h4>
        {% endif %}

        <div class="small"><a href="https://github.com/mozilla/togetherjs/blob/develop/togetherjs/{{ source }}">See this file on Github</a></div>

        <ul class="sections">
          {% for section in sections %}
            <li id="section-{{ section.index }}">
              <div class="annotation">
                <div class="pilwrap">
                  <a class="pilcrow" href="#section-{{ section.index }}">&#182;</a>
                </div>
                {{ section.docsHtml }}
              </div>
              {% if section.empty %}
              {% else %}
                <div class="content">{{ section.codeHtml }}</div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>



{% endblock %}
