{% extends "base.tmpl" %}
{% block styles %}
  <link rel="stylesheet" href="{{ base }}css/docco.css">
  <script src="{{ base }}js/source-code.js"></script>
{% endblock %}
{% block body %}

<div class="container">
  
    <section class="row">
      <div class="col-xs-3" id="source-toc">
        <div class="well well-lg fixed">
          <h5>Source Code</h5>
          <dl>
            {% for source in sourceList %}
              <dt><a href="{{ source.link }}">{{ source.name }}</a></dt>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="col-xs-9" id="source-content">
        <h1>{{ source }}</h1>
        <h4>{{ source.description }}</h4>

        <div class="small"><a href="https://github.com/mozilla/towtruck/blob/develop/towtruck/{{ source }}">See this file on Github</a></div>

        <ul class="sections">
          {% for section in sections %}
            <li id="section-{{ section.index }}">
              <div class="annotation">
                <div class="pilwrap">
                  <a class="pilcrow" href="#section-{{ section.index }}">&#182;</a>
                </div>
                {{ section.docsHtml }}
              </div>
              {% if section.empty %}
              {% else %}
                <div class="content">{{ section.codeHtml }}</div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    


{% endblock %}
