<div class="nav-options">
  <div class="editor-pane-nav-options">
    <!-- editor, undo, redo, text size, hinting -->
    <div class="editor-nav-item nav-item">
      <span class="icon">&nbsp;</span>Editor
      <div class="pane-indicator enabled"></div>
    </div>
    <div class="nav-item"><div class="breadcrumbs"></div></div>
    <div class="undo-nav-item nav-item responsive"
         data-restore-help="We've rescued your very recent changes to this page, but you can click this button to undo them."
         title="Undo changes">
         <span class="icon">&nbsp;</span>Undo</div>
    <div class="redo-nav-item nav-item responsive" title="Redo changes">
      <span class="icon">&nbsp;</span>Redo
    </div>
    <div class="text-nav-item nav-item responsive enabled" title="Change text size">
      <span class="icon">&nbsp;</span>Size
      <ul class="text-size-options">
        <li data-size="small">Small</li>
        <li data-size="normal" data-default-size>Normal</li>
        <li data-size="large">Large</li>
      </ul>
    </div>
    <div class="hints-nav-item nav-item enabled" title="Disable HTML and CSS hints and suggestions">
      <div class="checkbox on">✓</div> <div class="checkbox-label">Show hints</div></div>
  </div>
  <div class="preview-pane-nav-options">
    <!-- previous, save draft, publish -->
     <div class="preview-nav-item nav-item">
       <span class="icon">&nbsp;</span>Preview<span class="preview-title"></span><div class="pane-indicator enabled"></div>
     </div>
     <div class="nav-item buttons">
       <div class="publish-button wm-button wm-button-blue short">Publish</div>
     </div>
  </div>
</div>
