/* jsbin - based on web inspector */
.cm-s-jsbin span.cm-keyword {color: #AA0D91;}
.cm-s-jsbin span.cm-atom {color: #219;}
.cm-s-jsbin span.cm-number {color: #164;}
.cm-s-jsbin span.cm-def {color: #00f;}
.cm-s-jsbin span.cm-variable {color: black;}
.cm-s-jsbin span.cm-variable-2 {color: #05a;}
.cm-s-jsbin span.cm-variable-3 {color: #0a5;}
.cm-s-jsbin span.cm-property {color: black;}
.cm-s-jsbin span.cm-operator {color: black;}
.cm-s-jsbin span.cm-comment {color: #236E25;}
.cm-s-jsbin span.cm-string {color: #C41A16;}
.cm-s-jsbin span.cm-meta {color: #555;}
.cm-s-jsbin span.cm-error {color: #f00;}
.cm-s-jsbin span.cm-qualifier {color: #555;}
.cm-s-jsbin span.cm-builtin {color: #30a;}
.cm-s-jsbin span.cm-bracket {color: #cc7;}
.cm-s-jsbin span.cm-tag {color: #881280;}
.cm-s-jsbin span.cm-attribute {color: #994500;}

.CodeMirror {
  font-family: Menlo, Monaco, consolas, monospace;
  font-size: 12px;
  line-height: 1.2em;
}
