body {
  padding-top: 60px; 
}
.tabs {
  margin-bottom: 0;
}
#file_tab_nav{
  padding-left: 40px;
}

#etherpad {
  width: 100%;
  height: 100%;
}

.modal{
  display: none;
}

footer{
  width: 100%;
  background-color: #222;
  position: absolute;
  height: 60px;
  bottom: 0;
  padding: 1em;
  display:none;
}

input.share{
  border: none;
  height: 3em;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #0097ff;
  font-size: 2em;
}