<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.  -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TowTruck - Just Click When You're Stuck</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" >
    <link href="/stylesheets/style.css"   rel="stylesheet" type="text/css" media="screen">
    
    <script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>
    

    <!-- Le fav and touch icons -->
    <!-- <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png"> -->
  </head>

  <body class="{bodyClass}">
    <div class="container">    
      {body}
    </div>
  </body>
</html>