<div id="tow_truck_share_modal" style="display:none" class="tow-truck modal">
  <div class="modal-header">
    <a href="#" class="close" class="tow-truck-modal-close">×</a>
    <h3>Get Help by Sharing With a Friend</h3>
  </div>
  <div class="modal-body">
    <h1><a href="#" id="tow_truck_share_url" class="share"></a></h1><br />
    <p>
      <span class="label notice">Notice</span> 
      Anyone with this URL will be able to edit your file on TowTruck.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary" class="tow-truck-modal-close">Close</a>
  </div>
</div>
