<!DOCTYPE html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.  -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TowTruck - Just Click When You're Stuck</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" >
    <link href="/stylesheets/style.css"   rel="stylesheet" type="text/css" media="screen">
    
    <script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>
    

    <!-- Le fav and touch icons -->
    <!-- <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png"> -->
  </head>

  <body class="<%= bodyClass%>">
    <a href="http://github.com/simonwex/towtruck"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/ce742187c818c67d98af16f96ed21c00160c234a/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
    <div class="container">   
      <div id="overview">
        
        <header class="jumbotron masthead">
          <div class="inner">
            <h1>TowTruck</h1>
            <p class="lead">
              TowTruck is a collaborative tool, helping newbies and experts alike with their HTML/CSS/JavaScript.
            </p>
            <p class="bookmarklet-info">
              Drag this to your bookmark bar → 
              <a href="<%= bookmarkletHref%>" class="btn primary btn-large">Call TowTruck</a>
              <img id="bookmarklet_arrow" src="/images/bookmark-arrow.png" alt="bookmarklet arrow"/>
            </p>
          </div>
        </header>
      </div>
    </div>
  </body>
</html>
