/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */
body {
  font-family: sans-serif;
}
#record {
  width: 100%;
  height: 80%;
}
#connected {
  font-weight: bold;
  color: #090;
}
#not-connected {
  color: #900;
}
