/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Global things like fonts go here */
@font-face {
  font-family: openSansRegular;
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: openSansLight;
  src: url('fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: openSansBold;
  src: url('fonts/OpenSans-Bold.ttf');
}

/* Raw Element overrides go here: */

body {
  padding-bottom: 0px;
  background-color: #1baefc;
  color: rgb(72, 72, 72);
}

/* The rest of most pages, starting at the top: */

.navbar {
  margin-top: 1em;
  margin:20px 0px 40px;
}

.towtruckula li.active a{
	background:none !important;
	box-shadow:0px 0px 0px !important;
	border-bottom:1px solid #fff;
	padding:0px !important;
}

.towtruck-nav {
	background:none !important;
	border-top-right-radius:2px !important;
	border-bottom-right-radius:2px !important;
	box-shadow:0px 0px 0px !important;
}

.navbar .navbar-inner {
  border: 0;
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 20px 0px 16px 10px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  letter-spacing:0px;font-weight:300;font-family:openSansRegular;color:#fff;font-size:16px;
  text-shadow:0px 0px 0px rgb(0,0,0) !important;
  float:left !important;
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

ul.nav {
	float:right !important;
	margin:0px !important;
}

.towtruckula ul.nav a{
	font-family:openSansLight;
	color:#fff !important;
	text-shadow:0px 0px 0px rgb(0,0,0) !important;
	padding:0px !important;
	margin:20px;
}

.towtruckula ul.nav a:hover{
	border-bottom:1px solid #fff;
	background:none !important;
}

.navbar-wrapper {
	background:#1baefc;
}

.navbar .brand img {
  height:20px;
  padding-right:5px;
  position:relative;
  top:-2px;
}

.towtruckula .navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

/* Homepage Sections */
.section {
  margin: 0;
  padding: 0;
  padding-bottom: 4em;
}

.section h1 {
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  margin-top: 2em;
}

.section .number-circle {
   -webkit-border-radius: 999px;
      -moz-border-radius: 999px;
           border-radius: 999px;
  position: absolute;
  left: 1em;
  width: 1em;
  height: 1em;
  line-height: 1em;
  padding: 8px;
  border: 2px solid;
  text-align: center;
}


h1.main-header {
	color: rgb(72, 72, 72);
	font-size:48px;font-weight:100;line-height:1;letter-spacing:-2.3px;margin:50px 0px;font-family:openSansLight;
}

h2.subheader {
	padding-top:0px;margin-bottom:0px;font-size:30px;font-family:openSansLight;letter-spacing:-1px;margin-top:0px;
	color:rgb(72, 72, 72);
}

p.main-text {
	font-size:14px;line-height:1.5;font-family:openSansRegular;letter-spacing:-0.5px;color:rgb(72, 72, 72); padding:10px;
}

#introduction {
  color: rgb(72, 72, 72);
  padding-left: 2em;
  border-bottom: 0px solid #ccc;
  padding-bottom: 50px;
  margin-bottom:0px;
  background:#1baefc;
}

#introduction .span7 {
  padding-top:20px;
}

#introduction a:focus {
	outline:none !important;
}

#introduction .modal {
	left: 45%;
}

#introduction #video_modal button {
	width: 20px;
	height: 20px;
	position: relative;
	left: -10px;
	top: -10px;
}

#introduction #video_modal {
	width:690px;
	background:none;
	box-shadow:0px 0px 0px;
	border:0px;
}

#introduction #video_modal .modal-header {
	border-bottom:0px;
	border-radius:2px;
}

#introduction h1 {
  text-align: left;
  font-size:75px;
  line-height:1;
  letter-spacing:-5px;
  font-weight:normal;
  font-family:openSansLight;
  margin-top:20px;
  color:#fff;
}

#introduction h1 strong {
  font-style:normal;
  font-weight: 500;
}
#introduction h1 .towtruck {
  font-weight: 600;
}
#introduction iframe { /*TODO: Make iframe responsive */
  width: 640px;
  height: 380px;
  border: 0;
}

#introduction .span5 h1 img {
  width:80px;
  padding-bottom:15px;
}

#introduction .lead {
	font-size:20px;
	font-weight:normal;
	line-height:1.5;
	padding:5px 0px;
	font-family: openSansLight;
	letter-spacing:-0.01px;
	color:#fff;
}
#introduction .lead strong {
  font-family: openSansRegular;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: +0.01;
}

a#btn-tryitout {
	background:#05A44F;border-radius:2px;font-size:17px;font-weight:normal;line-height:1.5;text-shadow:0px 1px 0px rgba(0,0,0,0.3);font-family:openSansRegular;letter-spacing:-0.01px;
}

button#btn-tryitout.towtruck-started {
    background:#f00;
}

#introduction iframe {
	box-shadow:0px 1px 1px rgba(0,0,0,0.5);border-radius:2px;
}

#introducing-towtruck {
  color: rgba(72,72,72,1);
  background:rgba(255,255,255,1);
  margin:0px;
  padding:0px 0px 0px;
}

#introducing-towtruck h1.main-header {
  margin-bottom:0px;
}

#introducing-towtruck h2.sub-header {
  font-size: 18px;
  line-height: 1.5;
  font-family: openSansRegular;
  letter-spacing: -0.5px;
  color: rgb(72, 72, 72);
  padding: 10px;
  text-align:center;
  font-weight:normal;
}

#introducing-towtruck .far-left {
	margin:0 auto;
	text-align:center;
}

#introducing-towtruck .span4 {
  margin-top:-60px;
}

#introducing-towtruck .textcenter {
	text-align:center;
}

#introducing-towtruck img.main-img {
  width:360px;
}

#introducing-towtruck .subheader img {
  position:relative;top:-2px;left:0px;width:30px;padding-right:10px;
}


#how_it_works {
  background-color: #fff;
  counter-reset: how-it-works-counter;
  margin:0px;
  padding:0px 0px 0px;
}

#how_it_works .span5 {
	padding-top:0px;
}

#how_it_works .carousel-indicators img {
	height:30px;
	padding-top:5px;
}

#how_it_works ol{
  list-style-type: none;
}
#how_it_works li {
  margin-left: 1em;
}
#how_it_works li h2 {
  margin:0px;
}

#how_it_works ol#how_it_works_indicators {
  cursor: pointer;
}

#how_it_works ol#how_it_works_indicators .active{
  opacity:1;
}

#how_it_works li {
  opacity:0.3;
}

#how_it_works ol#how_it_works_indicators img{
  height:30px;
  padding-top:5px;
}

#how_it_works ol#how_it_works_indicators p{
	padding:10px 10px 10px 0px;
}

.clear {
	clear:both;
}

.col-left {
	float:left;
	margin:0px 0px 0px 0px;
}

.col-right {
	width:90%;
	margin:0px 0px 0px 10px;
	padding:0px;
	float:left;
}

#how_it_works .towtruck-cursor-img {
	width:16px;
}

#how_it_works .towtruck-cursor-name {
	background-color: #be180e; color: rgb(238, 238, 238);padding:10px;border-radius:2px;font-size:12px;box-shadow:0px 1px 1px rgba(0,0,0,0.5);position:relative;top:-20px;
}

#how_it_works .carousel-nav-pagination a{
	outline:none;
}

#how_it_works .carousel-nav-pagination a:hover{
	color:rgba(27,174,252,1);
	text-decoration:none;
	outline:none;
}

#how_it_works .carousel .carousel-control {
  opacity: 0;
  }
#how_it_works .carousel:hover .carousel-control {
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  }

#how_it_works .carousel-indicators {
  list-style:none;
  margin-left:46%;
  }
#how_it_works .carousel-indicators li{
  display:block;
  float:left;
  width:10px;
  height:10px;
  margin-left:10px;
  background-color:#ccc;
  background-color:rgba(27,174,252,0.2);
  border-radius:5px;
  cursor:pointer;
  }

#how_it_works .carousel-indicators .active{
  background-color:rgba(27,174,252,1)
  }

#how_it_works #towtruck_demo_cursor {
  position: absolute;
}

#how_it_works .carousel-nav-pagination {
	font-size:30px;color:rgba(27,174,252,1);text-align:center;
}

#selector {
  display: none;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 1em;
}
#selector .container {
  text-align: center;
}

#features {
  color: rgba(72,72,72,1);
  background:rgba(255,255,255,1);
  margin:0px;
  padding:0px 0px 0px;
}

#features .far-left {
	margin:0 auto;
	text-align:center;
}

#features .span4 {
  margin-top:-60px;
}

#features .textcenter {
	text-align:center;
}

#features img.main-img {
  width:360px;
}

#features .subheader img {
  position:relative;top:-2px;left:0px;width:30px;padding-right:10px;
}

#how_to_install {
  color: rgb(72,72,72);
  background:#fff;
  text-align: center;
  margin:0px;
  padding:0px 0px 0px;
}
#how_to_install h2 {
  margin-left: 1.2em;
}
#how_to_install img.install-img {
	height:250px;
	padding-bottom:10px;
}
#how_to_install h2 img {
	position:relative;top:-3px;left:0px;
}
#how_to_install .subheader {
	margin:0px 10px 0px 10px;
	height:45px;
}

#how_to_install #steps {
  margin-top:-20px;
}

#how_to_install .main-text {
	margin:0px 40px;
}

input.copy-input, textarea.copy-input {
	border:1px solid rgba(0,0,0,1);
	font-family:Monaco, Consolas, "Lucida Console", monospace;
	letter-spacing:0px;
	border-radius:2px;
	padding:6px;
	width:400px;
	background:rgba(72,72,72,1);
	color:#fff;
	font-size:12px;
}

input.copy-input {
	text-align:center;
}

#how_to_install #disclaimer {
  font-family: openSansLight;
}

#tryitout {
  color: rgba(72,72,72,1);
  background:rgba(255,255,255,1);
  margin:0 auto;
  padding:0px 0px 30px;
  text-align:center;
}

footer {
  background-color: #1baefc;
  padding: 48px;
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
}
footer ul {
  list-style-type: none;
}
footer img {
	height:24px;
}
footer a{
	color:#fff;
}
footer a:hover{
	color:rgba(255,255,255,0.8);
	text-decoration:underline;
}

/*EXAMPLES PAGE*/

.containerbg {
  background:#fff;
}

.container.examples {
  font-family:openSansRegular;
  height:100%;
  padding-top:40px;
  padding-bottom:40px;
  background:#fff;
}

.container.examples h1 {
  margin-top:0px;
}

.container.examples button{
background:#05A44F;border-radius:2px;font-size:17px;font-weight:normal;line-height:1.5;text-shadow:0px 1px 0px rgba(0,0,0,0.3);font-family:openSansRegular;letter-spacing:-0.01px; margin:14px;
}

.container.examples .thumbnails img {
  border:1px solid rgba(0,0,0,0.2);
  margin-bottom:5px;
}

.sidebar-nav {
  padding: 9px 0;
}

.sidebar-nav ul.nav {
  float:none !important;
}


/*Error pages*/

#error {
  text-align:center;
}

#error h1 {
  font-family:openSansLight;
}

#error img {
  width:354px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

 /* Large desktop */
 @media (min-width: 1200px) {

   #introduction h1 {
     text-align: left;
     font-size:85px;
     line-height:1;
     letter-spacing:-5px;
     font-weight:normal;
     font-family:openSansLight;
     margin-top:50px;
     color:#fff;
   }

   #introduction .span5 h1 img {
     width:80px !important;
     padding-bottom:15px;
     margin-top:0px;
   }

   input.copy-input, textarea.copy-input {
   	border:1px solid rgba(0,0,0,1);
   	font-family:Monaco, Consolas, "Lucida Console", monospace;
   	letter-spacing:0px;
   	border-radius:2px;
   	padding:6px;
   	width:460px !important;
   	background:rgba(72,72,72,1);
   	color:#fff;
   	font-size:12px;
   }

 }

 /* Medium desktop */
/* @media (max-width: 979px) {
   #introduction .span5 h1 img {
     width:80px !important;
     padding-bottom:15px;
   }

   #how_it_works h2.subheader {
     font-size:10px !important;
   }

 }*/

 /* Portrait tablet to landscape and desktop */
 @media (min-width: 768px) and (max-width: 979px) {

   .navbar a.brand {
     display:none !important;
   }

   #introduction .span5 h1 img {
     width:40px !important;
     padding-bottom:15px;
   }

   #introduction h1 {
     font-size:60px !important;
   }

   #introduction .span7 {
     padding-top:-40px !important;
   }

   .navbar .btn-navbar {
     float:left !important;
     background: rgb(72,72,72) !important;
     margin-left:-10px !important;
   }

   .nav-collapse .nav {
     float:left !important;
     margin-left:-20px !important;
   }

   #introduction .span7 {
     padding-top:40px;
   }

   #introducing-towtruck h2.sub-header {
     padding-bottom:20px !important;
   }

   #how_it_works ol.span5 {
     padding-top:0px !important;
   }

   #how_it_works h2 {
     line-height:20px !important;
   }

   #how_it_works .span7 {
     padding-top:20px !important;
     height:0px !important;
   }

   #how_it_works #how_it_works_carousel {
     height: 280px !important;
   }

   #how_it_works .carousel-inner {
     height:500px !important;
     margin-bottom:-230px !important;
   }

   #how_it_works .carousel-indicators {
    list-style: none;
    margin-left: 43% !important;
   }

   #how_it_works h2 {
     font-size:20px !important;
   }

   #how_to_install .copy-input {
     width: 300px !important;
   }

 }

 /* Landscape phone to portrait tablet */
 @media (max-width: 767px) {

    body {
      padding-left: 0px;
      padding-right: 0px;
    }

    .containerbg .container.examples{
      padding:20px !important;
    }

    .navbar a.brand {
      display:none !important;
    }

    .span5 {
      padding-left:20px;
      padding-right:20px;
    }

    #introduction {
      padding-left:0px;
    }

    #introduction .span5 h1 img {
      width:60px !important;
      padding-bottom:15px;
    }

    #introducing-towtruck h2.subheader {
      margin-top:-40px !important;
    }

    .navbar .btn-navbar {
      float:left !important;
      background: rgb(72,72,72) !important;
      margin-left:0px !important;
    }

    .nav-collapse .nav {
      float:left !important;
      margin-left:0px !important;
    }

    #how_it_works .carousel-inner {
      height:500px !important;
      margin-bottom:-50px !important;
    }

    #how_it_works .carousel-indicators {
      list-style: none;
      margin-left: 47% !important;
    }

    #features h2.subheader {
      margin-top:-20px !important;
    }

    #features img.main-img {
      margin-top:30px !important;
    }

    .span6 {
      margin:0 auto !important;
    }

    footer img {
      padding-left:24px;
      padding-bottom:20px;
    }

  }

 /* Landscape phones and down */
 @media (max-width: 480px) {
   
   #tryitout h1.main-header {
     padding:10px;
   }
   
   #how_to_install #disclaimer {
     padding:10px;
   }

   #how_it_works h2 {
     line-height:20px !important;
     font-size:24px;
   }

   #how_it_works .carousel-inner {
     height:300px !important;
     margin-bottom:-50px !important;
   }

   #how_it_works .carousel-indicators {
     list-style: none;
     margin-left: 43% !important;
   }

   input.copy-input, textarea.copy-input {
   	border:1px solid rgba(0,0,0,1);
   	font-family:Monaco, Consolas, "Lucida Console", monospace;
   	letter-spacing:0px;
   	border-radius:2px;
   	padding:6px;
   	width:300px;
   	background:rgba(72,72,72,1);
   	color:#fff;
   	font-size:12px;
   }

   footer img {
     padding-left:24px;
     padding-bottom:20px;
   }

 }




@media (max-width: 979px) {

  .navbar {
    margin-top: 0;
  }

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    /*height: 500px;*/
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {
  .navbar {
    margin-top: 0;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}
