body.collaborate {
  padding-top: 60px; 
}

body.collaborate chat {
  height: 100%;
  position: absolute;
}
body.collaborate chat form {
  position: absolute;
  bottom: 0;
}
body.collaborate chat dl {
  overflow-y: auto;
  height: 70%;
}

.tabs {
  margin-bottom: 0;
}
#file_tab_nav {
  padding-left: 40px;
}

#etherpad {
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
}

footer {
  width: 100%;
  background-color: #222;
  position: absolute;
  height: 60px;
  bottom: 0;
  padding: 1em;
  display:none;
}

input.share {
  border: none;
  height: 3em;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #0097ff;
  font-size: 2em;
}

#bookmarklet_arrow {
  position: absolute;
  top: 80px;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
  text-shadow: 0 1px 0 #fff;
}
.jumbotron h1 {
  margin-right: 40%;
  margin-bottom: 9px;
  font-size: 90px;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-right: 32%;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 300;
  line-height: 36px;
}
.jumbotron .btn-large {
  font-size: 20px;
  padding: 14px 24px;
  margin-right: 5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .download-info {
  font-size: 16px;
  color: #999;
}