<% layout('../../layout.ejs') -%>
<% block("enableExample", true) %>
<% block("title", "Mozilla Labs : TowTruck app integration example") %>

<p>TowTruck will pick up your login information (and gravatar):
<button id="login"><img src="https://developer.mozilla.org/files/3969/plain_sign_in_blue.png"></button>
<button id="logout" style="display: none">logout</button>
</p>

<div>
The integration code:<br>
<pre id="main-code-dest">
</pre>
</div>

    <script src="https://login.persona.org/include.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    <script id="main-code">
var USER;
$(function () {
  $("#main-code-dest").text($("#main-code").text());

  $("#login").click(function () {
    navigator.id.request();
  });
  $("#logout").click(function () {
    navigator.id.logout();
  });

  navigator.id.watch({
    onlogin: function (assertion) {
      assertion = assertion.replace(/-/g, "+");
      assertion = assertion.replace(/_/g, "/");
      var parts = assertion.split(/\./g);
      var data = JSON.parse(atob(parts[1]));
      USER = data.principal.email;
      $("#logout").text("Logged in: " + USER);
      $("#login").hide();
      $("#logout").show();
      TowTruck.refreshUserData();
    },
    onlogout: function () {
      USER = null;
      $("#login").show();
      $("#logout").hide();
      if (TowTruck.require) {
        TowTruck.require("session").close();
      }
    }
  });
});

function gravatar(email, options) {
  options = options || "";
  email = email.toLowerCase().replace(/^\s+/, "").replace(/\s+$/, "");
  var md5 = CryptoJS.MD5(email);
  return "http://www.gravatar.com/avatar/" + md5 + options;
}

TowTruckConfig_getUserName = function () {
  return USER;
};

TowTruckConfig_getUserAvatar = function () {
  if (! USER) {
    return null;
  }
  console.log("avatar", gravatar(USER, "?s=40&d=retro"));
  return gravatar(USER, "?s=40&d=retro");
};

    </script>
