<% layout('../../layout.ejs') -%>
<% block("enableExample", true) %>
<% block("title", "Mozilla Labs : TowTruck form example") %>
<div class="containerbg">
  <div class="container examples">
      <div class="span3">
         <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Examples</li>
            <li><a href="./code">Code editor</a></li>
            <li><a href="./longpage">A long page</a></li>
            <li><a href="./form">A form</a></li>
          </ul>
        </div><!--/.well -->
      </div>
    
      <div class="span8">

        <h1>A form</h1>

        <p>Note that forms elements get automatically synchronized.  Try it!</p>

        <form class="pull-left">

          <div>
            <label for="name">Name:</label>
            <input id="name" placeholder="Enter your name" type="text">
          </div>

          <fieldset>
            <legend>Favorite animal</legend>
            <label for="wump">
              <input type="radio" id="wump" name="animal">
              Wump
            </label>
            <label for="sneech">
              <input type="radio" id="sneech" name="animal">
              Sneech
            </label>
            <label for="swomee">
              <input type="radio" id="swomee" name="animal">
              Swomee-Swan
            </label>
            <label for="star">
              <input id="star" type="checkbox">
              With stars on their bellies
            </label>
          </fieldset>


          <div>
            <button id="about-toggle" type="button">Essay (+)</button>
            <div id="about-group" style="display: none">
              <label for="about">
                The Cat In The Hat, or the Cat In The Hat Comes Back: which is
                better, in essay form:
              </label>
              <textarea style="width: 100%; height: 10em" placeholder="There's no wrong answer! Except you must choose one."></textarea>
            </div>
          </div>

          <div>
            <label for="password">
              Secret Suess name:
            </label>
            <input type="password" id="password">
          </div>

          <div>
            <input type="reset" class="btn" value="Reset">
          </div>

          </fieldset>

        </form>


        </div>
      </div> <!-- /container -->
    </div>
