<div class="confirm-dialog modal-overlay" style="display: none;">
  <div class="thimble-modal-menu thimble-question-bar">
    <div class="thimble-branding"></div>
    <div class="thimble-menu-content">
       <div>
         <div class="thimble-title">Are you sure you want to publish your page?</div>
         <div class="thimble-additionals">
           <div class="confirmation-buttons">
             <span class="confirmation-button yes-button">Yes</span>
             <span class="confirmation-button no-button" data-close-modal>No</span>
           </div>
           <br>
           <div class="public-warning">
           A published page is visible to everyone on the Web.
           </div>
           <div class="error-warning">
             <strong>Warning:</strong> Your code appears to contain
             errors, and the published page may not appear as you intend.
           </div>
           <div class="development-note">
             <strong>Note:</strong> You are using experimental
             software and your published page could disappear at
             any time.
           </div>
         </div>
       </div>
    </div>
  </div>
</div>
