<div class="publish-dialog modal-overlay" style="display: none;">
  <div class="thimble-modal-menu thimble-grey-bar">
    <div class="thimble-menu-content">
       <div class="modal-close-button" data-close-modal>&nbsp;</div>

       <!-- PUBLISH YOUR WORK -->
       <div class="publication-result accordion">
         <div class="thimble-title">
           <div class="thimble-branding"></div>
           Copy and paste the url for your page
         </div>
         <div class="accordion-content">
           <div class="thimble-url-box">
             <a href="#" class="view"></a>
           </div>
         </div>
       </div>

       <div class="accordion collapsed">
         <div class="thimble-title">Grab the link to edit your published page</div>
         <div class="accordion-content">
           <div class="thimble-url-box">
             <a href="#" class="remix"></a>
           </div>
         </div>
       </div>
       <!-- PUBLISH YOUR WORK -->
       
       <!-- SHARE YOUR WORK -->
       <div class="share-result accordion collapsed">
         <div class="thimble-title">Share this via&hellip;</div>
         <div class="accordion-content">
           <div class="thimble-additionals">
             <ul>
               <li data-medium="twitter">Twitter</li>
               <li data-medium="google">Google+</li>
               <li data-medium="facebook">Facebook</li>
             </ul>
           </div>
         </div>
       </div>
       <!-- SHARE YOUR WORK -->
       
    </div>
  </div>
</div>
