{% extends "base.tmpl" %}
{% block title %} Mozilla Labs : TogetherJS app integration example {% endblock %}
{# set enableExample true #}
{% block body %}

<div class="container">
  <section class="body-content row" id="sketchapp" style="margin-left: 0px; margin-right: 0px;">
      <h1 style="margin-bottom: 20px">Drawing Example</h1>
      <p class="pull-left" style="margin-bottom: 20px">This is a simple drawing example.  Try drawing something with a friend in the canvas below!  Check out this code on <a href="http://jsfiddle.net/5M57n/1/" target="_blank">JSFiddle  here</a>.</p>
      <a class="tjs-button" onclick="TogetherJS(this); return false;" class="pull-right">
        <img src="https://togetherjs.com/images/start-togetherjs-blue.png" style="width: 135px"></img>
      </a>
      <div class="clearfix"></div>
      <div id="sketchContainer" style="width: 100%; height: 400px; border: 1px solid rgba(0,0,0,0.2)">
        <canvas id="sketch">
      </div>

  <script>

    // Based on: http://jsfiddle.net/j3xDg/

    (function() {

        // get the canvas element and its context
        var canvas = document.querySelector('#sketch');
        var context = canvas.getContext('2d');

        var sketchStyle = getComputedStyle(document.querySelector('#sketchContainer'));
        canvas.width = parseInt(sketchStyle.getPropertyValue('width'), 10);
        canvas.height = parseInt(sketchStyle.getPropertyValue('height'), 10);

        var lastMouse = {x: 0, y: 0};

        // brush settings
        context.lineWidth = 2;
        context.lineJoin = 'round';
        context.lineCap = 'round';
        context.strokeStyle = '#000';

        // attach the mousedown, mousemove, mouseup event listeners.
        canvas.addEventListener('mousedown', function (e) {
            lastMouse = {
              x: e.pageX - this.offsetLeft,
              y: e.pageY - this.offsetTop
            };
            canvas.addEventListener('mousemove', move, false);
        }, false);

        canvas.addEventListener('mouseup', function () {
            canvas.removeEventListener('mousemove', move, false);
        }, false);

        function move(e) {
            var mouse = {
              x: e.pageX - this.offsetLeft,
              y: e.pageY - this.offsetTop
            };
            draw(lastMouse, mouse);
            lastMouse = mouse;
        }

        function draw(start, end, remote) {
            context.beginPath();
            context.moveTo(start.x, start.y);
            context.lineTo(end.x, end.y);
            context.closePath();
            context.stroke();
            if ((! remote) && TogetherJS.running) {
                TogetherJS.send({type: "draw", start: start, end: end});
            }
        }

        TogetherJS.hub.on("draw", function (msg) {
            draw(msg.start, msg.end, true);
        });

        TogetherJS.hub.on("togetherjs.hello", function () {
            var image = canvas.toDataURL("image/png");
            TogetherJS.send({
              type: "init",
              image: image
            });
        });

        TogetherJS.hub.on("init", function (msg) {
            var image = new Image();
            image.src = msg.image;
            context.drawImage(image, 0, 0);
        });

    }());

  </script>
  </section>

{% endblock %}
