<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      currentUser = "<%= user.email%>";

      if (currentUser == "" || currentUser == "null"){
        currentUser = null;
      }

    </script>
    <script src="/application.js"></script>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/style.css"                       rel="stylesheet" type="text/css" media="all">
    
    <script src="https://login.persona.org/include.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <style type="text/css">
	      body {
	        padding-top: 20px;
	        padding-bottom: 40px;
	      }

	      /* Custom container */
	      .container-narrow {
	        margin: 0 auto;
	        max-width: 700px;
	      }
	      .container-narrow > hr {
	        margin: 30px 0;
	      }

	      /* Main marketing message and sign up button */
	      .jumbotron {
	        margin: 60px 0;
	        text-align: center;
	      }
	      .jumbotron h1 {
	        font-size: 72px;
	        line-height: 1;
	      }
	      .jumbotron .btn {
	        font-size: 21px;
	        padding: 14px 24px;
	      }

	      /* Supporting marketing content */
	      .marketing {
	        margin: 60px 0;
	      }
	      .marketing p + h4 {
	        margin-top: 28px;
	      }
	    </style>
  </head>
  
  <body>
	<style type="text/css" media="screen">
	
		/*Custom styles  ////////// */
		#masthead-bg {
			background-color: rgb(40, 49, 55);
			background-image: -moz-linear-gradient(center top , rgb(20, 24, 28), rgb(60, 74, 83));
			box-shadow: 0px -5px 20px rgba(255, 255, 255, 0.1) inset;
			height:490px;
			width:100%;
			margin-top:-30px;
			padding-top:30px;
			margin-bottom:-200px;
		}
		
		#home {
			margin:0 auto;
			width: 700px;
		}
		
		.logo {
			color:#fff;
			font-weight: 300;
			line-height: 20px;
			text-rendering: optimizelegibility;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 18px;
			line-height: 20px;
			padding-left:7px;
		}
		
		#masthead-bg .jumbotron {
			margin: 0 auto;
			width:700px;
		}
		
		.jumbotron iframe{
			box-shadow: 0px 0px 2px #000;
		}
		
		#masthead-bg .jumbotron h2 {
			color:#fff;
		}
		/*end Custom styles //////////*/
		
	</style>


	<div id="masthead-bg">
		
		<div id="home" class="masthead">
		        <ul class="nav nav-pills pull-right">
		          <li class="active"><a href="#home">Home</a></li>
		          <li><a href="#getting-started">Get Started</a></li>
		          <li><a href="#about">About</a></li>
				  <li><a href="#resources">Resources</a></li>
		          <li><a href="#contact">Contact</a></li>
				  <li>
		            <% if (user.email){ %>
		              <a id="logout" href="/">Sign Out (<%= user.email %>)</a>
		            <% } else { %>
		              <a id="login" href="#"><img src="/persona-sign_in.png"></a>
		            <% } %>
		          </li>
		        </ul>
				<img src="images/icn-logo.png"><span class="logo">TowTruck</span>
		</div>	

		<div class="jumbotron">
			<h2>Towtruck is a collaborative service tool for web applications</h2><p>powered by <a href="https://mozillalabs.com/en-US/" target="_blank">Mozilla Labs</a></p>
		</div>		
		
	</div>
	
	
    <div class="container-narrow">
      <%- body %>
    </div>
  </body>
</html>
