#towtruck-dock {
  &.towtruck-dock-right {
    bottom: 15px;
  }
}

.towtruck-only-mobile {
  display: block;
}

.towtruck-not-mobile {
  display: none;
}

.towtruck {
  .towtruck-window {
    width: 94%;
    margin-left: 1%;
    height: 94%;
    margin-top: 1%;
    z-index: @z-index+3 !important;
  }

  .towtruck-modal {
    width: 94%;
    margin-left: 1%;
    height: 94%;
    margin-top: 1%;
    top: 0;
    left: 0;
  }
}

.towtruck-menu-item {
  cursor: pointer;
}

/*TowTruck walkthrough*/

.towtruck .towtruck-modal section {
margin: 0px 7px;
}


#towtruck-walkthrough-progress {
  width: 93%;
  text-align:center;
  position: static;
}

.towtruck-modal-wide section.towtruck-buttons {
  width: 93.9%;
  text-align: center !important;
  position: absolute;
  bottom: -17px;
}

.towtruck-walkthrough-slide p {
  margin:13px auto;
  width: 100%;
  font-size: 11px;
}

.towtruck .towtruck-walkthrough-main-image {
  width: auto;
  height: auto;
  background: rgba(216, 216, 216, 0.1);
  border-radius: 4px;
  border: 1px solid 
  rgba(151, 151, 151, 0.1);
}

.towtruck .towtruck-walkthrough-main-image img {
  width: 400px;
  height: auto;
}

.towtruck #towtruck-walkthrough-next {
  cursor: pointer;
  width: 19px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  margin-right: 0px;
  margin-top: 28%;
  background-image: url('./images/icn-walkthrough-arrow-r.png');
  float: right;
}

.towtruck #towtruck-walkthrough-previous {
  cursor: pointer;
  width: 19px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  margin-top: 28%;
  background-image: url('./images/icn-walkthrough-arrow-l.png');
  float: left;
  margin-left: 0px;
}

.towtruck .towtruck-modal .towtruck-share-link {
  width: 80%;
  font-size: 12px;
  padding: 6px 6px 4px;
  border-radius: 4px;
  border: 1px solid 
  #cccccc;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  font-family: Monaco;
  margin: 7px 0px;
}

.towtruck-walkthrough-sendlink {
  top: 44%;
  position: relative;
  padding: 15px;
}

