<% /*
  This is everything TowTruck shows.  Much of what it does is defined in ui.js
*/ %>
<div class="towtruck-container towtruck-chat">
  <div id="towtruck-templates" style="display: none">

    <!-- These elements are cloned to create UI; the ID identifies the template
         (the id is erased from the cloned element) and everything else is set via
         ad hoc classes and jQuery: -->

    <img id="towtruck-template-triangle" src="http://localhost:8080/images/box-arrow-left.png" class="triangle">

    <div id="towtruck-template-chat-message" class="towtruck-chat-message">
      <span class="towtruck-person"></span>:
      <span class="towtruck-chat-content"></span>
    </div>

    <div id="towtruck-template-chat-left" class="towtruck-chat-message">
      <span class="towtruck-person"></span> left the session.
    </div>

    <div id="towtruck-template-chat-system" class="towtruck-chat-message">
      <span class="towtruck-chat-content"></span>
    </div>

  </div>
  <div id="towtruck-topbar"><div class="arrow-up"></div>
    <div class="towtruck-header">
      <div class="towtruck-chat towtruck-screen">Chat</div>
      <div class="towtruck-info towtruck-screen">Intro</div>
    </div>
    <div class="towtruck-close towtruck-fade" data-walkabout-disable="1"><img src="http://localhost:8080/images/btn-close.png"></div>
    <div class="towtruck-minimize towtruck-fade"><img src="http://localhost:8080/images/btn-minimize.png"></div>
  </div>

  <div id="towtruck-leftnavbar">
    <div id="towtruck-nav-btns">
      <ul>
      <li>
        <button class="left-nav-btn info towtruck-fade towtruck-info" data-activate="towtruck-info"><img src="http://localhost:8080/images/icn-info.png"></button>
      </li>
      <li>
        <button class="left-nav-btn communicate towtruck-fade" data-activate="towtruck-chat"><img src="http://localhost:8080/images/icn-communicate-active.png"></button>
        <img src="http://localhost:8080/images/box-arrow-left.png" class="triangle">
      </li>
      <ul>
    </div>
    <div id="towtruck-pop-btns">
      <a href="#" class="popout towtruck-fade"><img src="http://localhost:8080/images/icn-popout.png"></a>
    </div>
  </div>


  <div id="towtruck-body">

    <div class="towtruck-info towtruck-screen">

      <div class="box">
        <p>Simply send this link to a friend to get started!</p>
        <input type="text" value="http://twtrk.html/1RtGRqQRLm" class="towtruck-input-link"><a class="button" href="#">Copy</a>
      </div>
      <!-- FIX ME -- THIS IS THE REAL LINK, NEEDS TO BE in the VALUE attr in the input field -->
      <!-- also, the value should be auto-highlighted. -->
      <!-- <div class="towtruck-link"></div> -->

      <div class="box">
        <p>Your name:</p>
        <input type="text" placeholder="Type your name" class="towtruck-input-name">
        <span id="towtruck-name-waiting" style="display: none">...</span>
        <span id="towtruck-name-confirmation">&#x2713;</span>
      </div>

    </div>

    <div class="towtruck-chat towtruck-screen">
      <div class="upper-box">
        <div class="towtruck-test-container" style="display: none"></div>
        <div class="towtruck-chat-container"></div>
      </div>
      <div class="lower-box">
        <input type="text" placeholder="Write your message" class="towtruck-chat-input" data-walkabout-keyup="{which: 13, before: 'randomValue'}">
      </div>
    </div>
  </div>

</div>
