<% /*
  This is the dialog presented when the user tries to close the chat
  interface, which closes down TowTruck.

  * .towtruck-yes stops towtruck, .towtruck-no cancels the close
*/ %>
<div class="towtruck-confirm-end">
  <p>End the session on TowTruck?</p>
  <p><button class="towtruck-yes">Yes, End</button></p>
  <p><button class="towtruck-no">No</button></p>
</div>
