<% /*

  This is used to show the help when you type /help.  Used in
  TowTruck.localChatMessage().  Variables:

  * tabIndependent: true if tab independence is turned on

*/ %>
/help : this message
/tab : turn tab independence on/off (allows two tabs to have different identities)
  <% if (tabIndependent) { %>tab independence on<% } else { %>tab independence off (the default)<% } %>
