<% /*
  This is the element shown when you first start up TowTruck, and must share
  the link to invite another person.  Bindings:

  * .towtruck-close closes the page
  * .towtruck-link is where the share link is displayed

  This is used in TowTruck.start().  No variables are provided.
*/ %>
<div class="towtruck-container towtruck-intro">
	<div id="towtruck-topbar">
		<div class="towtruck-header">TowTruck</div>
		<div class="towtruck-minimize">&#175;</div>
		<div class="towtruck-inset">crarr</div>
  		<div class="towtruck-close">&times;</div>
  	</div>
	<div id="towtruck-body">
		<div class="towtruck-link"></div>
		
	</div>
	<div id="towtruck-videochat">
		
	</div>
	<div id="towtruck-username">
		
	</div>
	<div id="towtruck-chatbox">
		
	</div>
	<div id="towtruck-go">
		
	</div>

</div>
