<% /*
  This is the element shown when you first start up TowTruck, and must share
  the link to invite another person.  Bindings:

  * .towtruck-close closes the page
  * .towtruck-link is where the share link is displayed.  It is
    automatically selected on focus
  * #towtruck-name is updated and automatically saved with the person's name
  * #towtruck-name-waiting is shown (and #towtruck-name-confirmation
    is hidden) when an update is made; the update is immediate but we
    swap these to show that the value is saved without submission.
  * .towtruck-continue closes the intro and starts the chat
  * .towtruck-cancel stops towtruck, with no confirmation

  This is used in TowTruck.start().  No variables are provided.
*/ %>
<div class="towtruck-container towtruck-intro">
  <div class="towtruck-close">&times;</div>
  <div class="towtruck-header">TowTruck</div>
  <div>
    <label for="towtruck-name">
      Your name is:
      <input id="towtruck-name" type="text">
      <span id="towtruck-name-waiting" style="display: none">...</span>
      <span id="towtruck-name-confirmation">&#x2713;</span>
    </label>
  </div>
  <div>
    <label for="towtruck-link">
      Share this link:
      <input id="towtruck-link" type="text" style="width: 15em">
    </label>
  </div>
  <div>
    <p><button class="towtruck-continue">Continue &gt;&gt;&gt;</button></p>
    <p><button class="towtruck-cancel">Cancel</button></p>
  </div>
</div>
