/* Reset: */
.towtruck-container {
    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;

    div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        line-height: 1;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        /* HTML5 display-role reset for older browsers */
        display: block;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}

.towtruck-close {
    float: right;
    cursor: pointer;
}

.towtruck-intro {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 50%;
    margin-left: -40%;
    padding: 1em;
    border: 2px solid #000;
    border-radius: 0.7em;
    z-index: 10000;
    background-color: #fff;
}

.towtruck-chat {
    position: absolute;
    width: 10em;
    height: 20em;
    top: 10px;
    right: 10px;
    padding: 0.7em;
    border: 2px solid #000;
    border-radius: 0.7em;
    z-index: 10000;
    background-color: #fff;
}
