/* Reset: */
.towtruck-container {
    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
    font-family: sans-serif;

    div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        line-height: 1;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        /* HTML5 display-role reset for older browsers */
        display: block;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}

.towtruck-intro {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 50%;
    margin-left: -40%;
    padding: 0.5em 1em 0.5em 1em;
    border: 2px solid #000;
    border-radius: 0.7em;
    z-index: 10000;
    background-color: #fff;

    .towtruck-header {
        font-weight: bold;
        border-bottom: 1px solid #777;
        margin: 0 -1em 1em -1em;
        padding: 0 1em 0.2em 1em;
    }

    p {
      text-align: center;
    }

    #towtruck-name-confirmation {
        color: #090;
    }
}

.towtruck-container {

    .towtruck-close, .towtruck-info {
        float: right;
        cursor: pointer;
        background-color: #999;
        color: #fff;
        border-radius: 0.55em;
        width: 1.1em;
        height: 1.1em;
        padding: 0;
        vertical-align: center;
        text-align: center;
        margin-left: 0.2em;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
            background-color: #000;
        }
    }

    .towtruck-info {
        font-family: Times, serif;
        font-style: italic;
    }
}

.towtruck-chat {

    position: absolute;
    width: 10em;
    height: 20em;
    top: 10px;
    right: 10px;
    padding: 0.7em;
    border: 2px solid #000;
    border-radius: 0.7em;
    z-index: 10000;
    background-color: #fff;

    .towtruck-chat-name {
        // FIXME: Not sure why this is not working?
        font-weight: bold;
    }

    .towtruck-chat-message {
        font-size: 80%;
        border-bottom: 1px solid #ddd;
    }

    .towtruck-chat-content {
        white-space: pre-wrap;
    }

    .towtruck-confirm-end {
        position: absolute;
        z-index: 10001;
        /* FIXME: this overlaps the edges of the chat window, whiting them out
           which doesn't look nice */
        background-color: #fff;
        width: 100%;
        height: 100%;
        p {
            text-align: center;
        }
    }

}
